{% extends 'layout' %}

{% block body_class %}body-bottom-bg{% endblock %}

{% block menu_logged %}
	<li class="header__account-item">
		<a class="header__account-link" href="{{ route('video_list') }}">Мои видео</a>
	</li>
{% endblock %}

{% block header_logo_sm_class %}header__logo-sm{% endblock %}

{% block header_info %}
	<div class="header__info">
		<div class="header__course">
		  {#<a class="header__course-link" href="https://player.vimeo.com/258602055/" data-fancybox="video"><span class="header__course-link-icon icon-play"></span></a>
		  #}<div class="header__course-text">
			<div class="header__course-label">Онлайн-курс</div>
			<div class="header__course-title">Папа бренда</div>
		  </div>
		</div>
		<div class="header__buy">
			<div class="header__buy-price"></div>
			{% if episode_count and (not authUser or (authUser and not paid_videos)) %}
				{#<a class="header__buy-button btn scroll-link" href="#section-packages">Купить</a>#}
			{% elseif authUser and paid_videos %}
				<a class="btn btn-green" href="{{ route('video_list') }}">Смотреть</a>
			{% endif %}

		</div>
	</div>
{% endblock %}

{% block title_page %}
	<h1 class="sr-only">{{ siteName }}</h1>
{% endblock %}

{% block modals %}
	<div class="modal fade modal-md" id="modal-buy-course" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="modal-close close" data-dismiss="modal" type="button"></button>
            <div class="buy-box">
              <div class="buy-box__wrapper">
                <div class="buy-box__label">Онлайн-курс</div>
                <h2 class="buy-box__title">Папа бренда</h2>
                <div class="buy-box__steps">
                  <ol class="step-nav">
                    <li class="step-nav__item active">
                      <a class="step-nav__link" href="/">Личные данные</a>
                    </li>
                    <li class="step-nav__item">
                      <a class="step-nav__link" href="/">Оплата</a>
                    </li>
                    <li class="step-nav__item">
                      <a class="step-nav__link" href="/">Доступ к видео</a>
                    </li>
                  </ol>
                </div>
                <div class="validation-wrap">
                  <form id="checkout_step_first" action="{{ route('user_create') }}" action-paying="{{ route('order_create') }}" class="buy-box__form" novalidate="novalidate">
					 <div class="server-message-box"></div>
					 <div class="form-group">
                      <input name="user_name" class="form-control" type="text" placeholder="Имя" required="required">
                      <div class="error-message">Введите имя</div>
                    </div>
                    <div class="form-group">
                      <input name="user_phone" class="form-control" type="tel"  required="required">
                      <div class="error-message">Введите номер телефона</div>
                    </div>
                    <div class="form-group">
                      <input name="user_email" class="form-control" type="email" placeholder="Эл. почта" required="required">
                      <div class="error-message">Введите электронную почту</div>
                    </div>
                      <div class="form-group">
                          <input name="user_agree" id="user_agree_checkout_step_first"  type="checkbox" value="true" >
                          <label for="user_agree_checkout_step_first" class="user_agree_span">Я прочел(-ла) и принимаю
                              <a href="https://superludi.com/terms/" target="_blank">Условия оказания услуг</a> </br> и
                              <a href="https://superludi.com/privacy/" target="_blank">Политику конфиденциальности</a>.</label>
                          <div class="error-message">Для того, чтобы продолжить, Вам нужно принять Условия.</div>
                      </div>
                    <div class="buy-box__form-footer">
                      <button class="buy-box__button btn btn-green btn-block " type="submit" >Продолжить</button>
                    </div>
                    <div class="buy-box__message">Сразу после подтверждения оплаты вы получите доступ к просмотру видео</div>
                  </form>
				  {#<a style="display: none;" id="modal_buy_course_second_step_show" class="btn btn-green" href="#modal-buy-course-second-step" data-toggle="modal">Купить</a>#}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	<div class="modal fade modal-md" id="modal-buy-course-3" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <button class="modal-close close" data-dismiss="modal" type="button"></button>
		  <div class="buy-box">
			<div class="buy-box__wrapper">
			  <div class="buy-box__label">Онлайн-курс</div>
			  <h2 class="buy-box__title">Папа бренда</h2>
			  <div class="buy-box__steps">
				<ol class="step-nav">
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Личные данные</a>
				  </li>
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Оплата</a>
				  </li>
				  <li class="step-nav__item active">
					<a class="step-nav__link" href="/">Доступ к видео</a>
				  </li>
				</ol>
			  </div>
			  <div class="buy-box__info">
				<div class="buy-box__info-title">Оплата прошла успешно</div>
				<div class="buy-box__info-text">Материалы уже доступны в личном кабинете.&#32;</div>
				<!--a class="btn btn-block btn-green modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войти</a-->
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<a style="display: none;" class="btn btn-green" href="#modal-buy-course-3" data-toggle="modal">Show modal buy course step 3 </a>
	<div class="modal fade modal-md" id="modal-buy-course-second-step" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <button class="modal-close close" data-dismiss="modal" type="button"></button>
		  <div class="buy-box">
			<div class="buy-box__wrapper">
			  <div class="buy-box__label">Онлайн-курс</div>
			  <h2 class="buy-box__title">Папа бренда</h2>
			  <div class="buy-box__steps">
				<ol class="step-nav">
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Личные данные</a>
				  </li>
				  <li class="step-nav__item active">
					<a class="step-nav__link" href="/">Оплата</a>
				  </li>
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Доступ к видео</a>
				  </li>
				</ol>
			  </div>
			  <div class="buy-box__info">
				<div id="auth_order_in_progress">
					<div class="buy-box__info-text">
						<br>
						<div class="server-message-box"></div>
						<span class="js-message-pay-in-progress">Выполняется перенаправление на систему оплаты...</span>
					</div>
				</div>
				<div class="js-auth-order-successful">
					<div class="buy-box__info-title">Оплата прошла успешно</div>
					<div class="buy-box__info-text">Материалы уже доступны в личном кабинете.&#32;</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade modal-md" id="modal-buy-course-second-step-fail" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <button class="modal-close close" data-dismiss="modal" type="button"></button>
		  <div class="buy-box">
			<div class="buy-box__wrapper">
			  <div class="buy-box__label">Онлайн-курс</div>
			  <h2 class="buy-box__title">Папа бренда</h2>
			  <div class="buy-box__steps">
				<ol class="step-nav">
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Личные данные</a>
				  </li>
				  <li class="step-nav__item active">
					<a class="step-nav__link" href="/">Оплата</a>
				  </li>
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Доступ к видео</a>
				  </li>
				</ol>
			  </div>
			   <div class="buy-box__info">
                  <div class="buy-box__info-title error">Оплата завершилась ошибкой</div>
                  <div class="buy-box__info-text">Приносим извинения за неудобства. Пожалуйста, свяжитесь с администрацией сайта или попытайеть оплатить заказ снова.&#32;</div>
                </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<a style="display: none;" href='#modal-buy-course-second-step-fail' data-toggle='modal'>Show modal buy course second step fail</a>
	<div class="modal fade modal-md" id="modal-buy-course-second-step-no-payment-confirmation" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <button class="modal-close close" data-dismiss="modal" type="button"></button>
		  <div class="buy-box">
			<div class="buy-box__wrapper">
			  <div class="buy-box__label">Онлайн-курс</div>
			  <h2 class="buy-box__title">Папа бренда</h2>
			  <div class="buy-box__steps">
				<ol class="step-nav">
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Личные данные</a>
				  </li>
				  <li class="step-nav__item active">
					<a class="step-nav__link" href="/">Оплата</a>
				  </li>
				  <li class="step-nav__item">
					<a class="step-nav__link" href="/">Доступ к видео</a>
				  </li>
				</ol>
			  </div>
			   <div class="buy-box__info">
                  <div class="buy-box__info-title error">Нет подтверждения оплаты</div>
                  <div class="buy-box__info-text">
					К сожалению, на текущий момент, мы не получили подтверждения оплаты.
					Пожалуйста, подождите некоторое время или свяжитесь с администрацией сайта.&#32;
				  </div>
                </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<a style="display: none;" href='#modal-buy-course-second-step-no-payment-confirmation' data-toggle='modal'>Show modal buy course second step no payment confirmation</a>
	{% if(not authUser) %}
		{% include 'auth.login' %}

		<div class="modal fade" id="modal-registration" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="modal-close close" data-dismiss="modal" type="button"></button>
            <div class="enter-box">
              <div class="enter-box__title">Регистрация</div>
              <div class="validation-wrap">
                <form id="form_registration" action="{{ route('user_registration') }}" class="enter-box__form" novalidate="novalidate">
                  <a class="enter-box__social btn btn-fb btn-block" href="{{ route('socialite.redirect',{'provider': 'facebook'}) }}"><span class="btn-icon icon-facebook"></span>Регистрация&#32; через Facebook</a>
                  <div class="enter-box__separator">
                    <div class="enter-box__separator-text">или</div>
                  </div>
				  <div class="server-message-box form-registration"></div>
                  <div class="form-group">
                    <input name="user_email" class="form-control" type="email" placeholder="Эл. почта" required="required">
                    <div class="error-message">Введите электронную почту</div>
                  </div>
                  <div class="form-group">
                    <input name="user_password" class="form-control" type="password" placeholder="Пароль" required="required">
                    <div class="error-message">Введите пароль</div>
                  </div>
                  <!--  <div class="form-group">
                        <input name="promocode" class="form-control" type="text" placeholder="Промокод" >
                    </div>
                  -->
                    <div class="form-group">
                        <input type="checkbox" name="user_agree_reg" id="user_agree_reg" >
                        <label for="user_agree_reg" class="user_agree_span">Я прочел(-ла) и принимаю
                            <a href="https://superludi.com/terms/" target="_blank">Условия оказания услуг</a> и
                            <a href="https://superludi.com/privacy/" target="_blank">Политику конфиденциальности</a>.</label>
                        <div class="error-message">Для того, чтобы продолжить, Вам нужно принять Условия.</div>
                    </div>
                    <div class="form-group">
                        <button id="form_registration_button" class="enter-box__button btn btn-block" type="submit" >Зарегистрироваться</button>
                    </div>
                  <div class="enter-box__footer">
                    <div class="enter-box__footer-row">Уже зарегистрированы?&#32;
                      <a class="enter-box__footer-link modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войдите</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-phone" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <button class="modal-close close" data-dismiss="modal" type="button"></button>
            <div class="phone-box">
              <div class="phone-box__title">Последний шаг</div>
              <div class="phone-box__label">Вы вошли как</div>
              <div class="phone-box__user">
				{% if request_phone.avatar %}
                <div class="phone-box__user-image">
                  <img class="phone-box__user-image-i" src="{{ request_phone.avatar }}" alt="" role="presentation">
                </div>
				{% endif %}
                <div id="modal_phone_user_label" class="phone-box__user-label">{{ request_phone.name }}</div>
              </div>
              <div class="validation-wrap">
                <form id="form_request_phone" action="{{ route('user_create') }}" class="phone-box__form" novalidate="novalidate">
                  <div class="server-message-box form-request-phone"></div>
					<div class="form-group">
                    <input name="user_phone" class="form-control" type="tel"  required="required">
                    <div class="error-message">Введите номер телефона</div>
                  </div>
                  <div class="form-group">
                    <button id="form_request_phone_button" class="phone-box__button btn btn-block btn-green" type="submit">Войти</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
		<a style="display: none;" id="modal_phone_show" href='#modal-phone' data-toggle='modal'>Show modal phone</a>
      </div>
		<script type="text/javascript">
			{% if(request_phone) %}
				window.request_phone = {{ request_phone|json_encode()|raw }}
			{% endif %}
		</script>

		<div class="modal fade" id="modal-pass-recovery" tabindex="-1">
			<div class="modal-dialog">
			  <div class="modal-content">
				<button class="modal-close close" data-dismiss="modal" type="button"></button>
				<div class="pass-recovery">
				  <div class="validation-wrap">
					<form id="form_pass_recovery" action="{{ route('password_reset') }}" class="pass-recovery__form" novalidate="novalidate">
					  <div class="pass-recovery__title">Восстановление пароля</div>
					  <div class="pass-recovery__text">Новый пароль будет отправлен на почту</div>
					  <div class="form-group">
						<input class="form-control" name="user_email" type="email" placeholder="Эл. почта" required="required">
						<div id="pass_recovery_error_message_client" class="error-message">Введите электронную почту</div>
					  </div>
					  <div class="server-message-box form-pass-recovery"></div>
					  <button class="btn btn-block" type="submit">Отправить</button>
					</form>
				  </div>
				</div>
			  </div>
			</div>
			<a style="display: none;" href='#modal-pass-success' data-toggle='modal'>Show modal pass success</a>
		</div>
		<div class="modal fade" id="modal-pass-success" tabindex="-1">
			<div class="modal-dialog">
			  <div class="modal-content">
				<button class="modal-close close" data-dismiss="modal" type="button"></button>
				<div class="pass-recovery">
				  <div class="pass-recovery__title">Новый пароль отправлен</div>
				  <div class="pass-recovery__text">Ваш новый пароль автоматически активируется, если вы его используете при входе</div>
				</div>
			  </div>
			</div>
		</div>
		<div class="modal fade" id="modal-pass-recovery-done" tabindex="-1">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <button class="modal-close close" data-dismiss="modal" type="button"></button>
			  <div class="pass-recovery">
				<div class="pass-recovery__title">Новый пароль активирован</div>
				<div class="pass-recovery__text">
				  <a class="modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войти в кабинет</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="promo" style="background-image: url('/assets/i/video-img.jpg');">
        <div class="promo__info">
          <div class="container">
			<a class="promo__play icon-play" href="https://player.vimeo.com/258602055/" data-fancybox="video"></a>
            <div class="promo__info-title">Андрей Федорив</div>
            <div class="promo__info-text">Учит создавать и развивать бренды</div>
          </div>
        </div>
        <div class="promo__content">
          <div class="container">
            <div class="promo__list">
              <div class="promo__item">
                <div class="promo__item-label">Онлайн-курс</div>
                <div class="promo__item-text promo__item-text_lg">Папа бренда</div>
              </div>
              <div class="promo__item">
				{% if episode_count %}
					<div class="promo__item-label">{{ episode_count }} {{ episode_word }}</div>
				{% endif %}
                <div class="promo__item-text">8 часовой концентрированный курс о&nbsp;маркетинге</div>
              </div>
              {#<div class="promo__item">#}
                {#{% if episode_count and (not authUser or (authUser and not paid_videos)) %}#}
					{#<a class="promo__button promo__button_buy btn scroll-link" href="#section-packages">Купить</a>#}
				{#{% elseif authUser and paid_videos %}#}
					{#<a class="btn btn-green" href="{{ route('video_list') }}">Смотреть</a>#}
				{#{% endif %}#}
				{#{% if not authUser or (authUser and not paid_videos) %}#}
					{#<a class="promo__button promo__button_watch btn btn-green btn-bordered-watch scroll-link" href="{{ authUser ? route('video_list') : '#section-packages' }}">Бесплатный урок</a>#}
				{#{% endif %}#}
              {#</div>#}
            </div>
          </div>
        </div>
      </div>
      <div class="about-course" style="background-image: url('/assets/i/about-course-bg.jpg');">
        <div class="container">
          <div class="about-course__wrapper">
            <h2 class="about-course__title">Онлайн-курс Андрея Федорива о маркетинге</h2>
            <div class="about-course__text">
              <p>Курс для тех, кто создает свой бизнес с нуля или пытается вернуть к жизни плохо работающий бренд.</p>
              <p>Андрей Федорив дает пошаговую инструкцию для собственников бизнеса: где взять идею, как перейти от хаоса к системе и избежать грубых ошибок. Никакого занудства. Один эпизод — одна проблема. Только личный опыт.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <section class="benefits benefits_border-bottom">
          <h2 class="benefits__title content-title">Для кого этот курс?</h2>
          <ul class="benefits__list">
            <li class="benefits__list-item">
              <div class="benefits__image animate-el fadeInUp" data-wow-delay="0.1s">
                <img class="benefits__image-i" src="/assets/i/direction-icon.svg" alt="" role="presentation">
              </div>
              <div class="benefits__text">Для тех, кто хочет создать свой бизнес, но не знает с чего начать. </div>
            </li>
            <li class="benefits__list-item">
              <div class="benefits__image animate-el fadeInUp" data-wow-delay="0.2s">
                <img class="benefits__image-i" src="/assets/i/rocket-icon.svg" alt="" role="presentation">
              </div>
              <div class="benefits__text">Для владельцев уже существующего бизнеса, которым нужен прорыв. </div>
            </li>
            <li class="benefits__list-item">
              <div class="benefits__image animate-el fadeInUp" data-wow-delay="0.3s">
                <img class="benefits__image-i" src="/assets/i/atom-icon.svg" alt="" role="presentation">
              </div>
              <div class="benefits__text">Для всех, кому приелся теоретический маркетинг.</div>
            </li>
          </ul>
        </section>
        <section class="steps-list">
          <h2 class="steps-list__title content-title">Какие проблемы вы решите?</h2>
          <ul class="steps-list__list">
            <li class="steps-list__list-item">
              <div class="steps-list__num">1</div>
              <div class="steps-list__text">Научитесь создавать бренды, которые будут менять не только ваш бизнес, но и жизни людей.</div>
            </li>
            <li class="steps-list__list-item">
              <div class="steps-list__num">2</div>
              <div class="steps-list__text">Поймете проблемы своего потребителя и сможете помочь ему в их решении.</div>
            </li>
            <li class="steps-list__list-item">
              <div class="steps-list__num">3</div>
              <div class="steps-list__text">Сможете управлять брендом в условиях новой экономики.</div>
            </li>
          </ul>
        </section>
	</div>
	<div class="page-bg">
        <div class="container">
          <div class="page-bg__inner">
            <div class="about-author">
              <div class="about-author__label">Автор курса</div>
              <h2 class="about-author__title">Андрей Федорив</h2>
              <div class="rich-text">
                <p>Основатель крупнейшего брендингового агентства
                  <a class="about-author__link" href="http://fedoriv.com/">Fedoriv</a>, работающего на 10 рынках.</p>
                <p>Руководил разработкой, запуском и перезапуском более 100 брендов, среди которых &#171;Хортица&#187;, &#171;Новая Почта&#187;, Ощадбанк, OLX.</p>
                <p>Неоднократно признавался лучшим спикером на международных конференциях по маркетингу.</p>
              </div>
            </div>
            <div class="advantages">
              <div class="advantages__items">
                <div class="advantages__item">
                  <div class="advantages__item-value">20</div>
                  <div class="advantages__item-label">лет опыта в маркетинге</div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__item-value">100+</div>
                  <div class="advantages__item-label">запущенных брендов</div>
                </div>
                <div class="advantages__item">
                  <div class="advantages__item-value">10+</div>
                  <div class="advantages__item-label">рынков</div>
                </div>
              </div>
            </div>
            {#<div class="embedded-video">
              <iframe width="100%" height="465" src="https://player.vimeo.com/video/257661876" frameborder="0" allowfullscreen="allowfullscreen" data-link="https://player.vimeo.com/video/257661876"></iframe>
            </div>#}
          </div>
          <div class="cases">
            <h3 class="cases__title">Кейсы</h3>
            <div class="cases__items">
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/kyiv.jpg&quot;);"></span><span class="cases__item-title">Логотип Киева</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/novaposhta.jpg&quot;);"></span><span class="cases__item-title">Новая Почта</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/rabota.jpg&quot;);"></span><span class="cases__item-title">rabota.ua</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/kl.gif&quot;);"></span><span class="cases__item-title">Фонд Кличко</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/6.jpg&quot;);"></span><span class="cases__item-title">Helen Marlen</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/bi.gif&quot;);"></span><span class="cases__item-title">Будинок Iграшок</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/jh.gif&quot;);"></span><span class="cases__item-title">Jack House</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/letled.gif&quot;);"></span><span class="cases__item-title">LET LED</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/scandia.gif&quot;);"></span><span class="cases__item-title">Scandia</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/egersund.jpg&quot;);"></span><span class="cases__item-title">Egersund Seafood</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/oschadbank.jpg&quot;);"></span><span class="cases__item-title">ОЩАДБАНК</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/bizol.jpg&quot;);"></span><span class="cases__item-title">Bizol</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/n.jpg&quot;);"></span><span class="cases__item-title">N</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/olxukr.jpg&quot;);"></span><span class="cases__item-title">OLX Ukraine</span></a>
              </div>
              <div class="cases__item">
                <a class="cases__item-link" href="javascript: void(0)"><span class="cases__item-image" style="background-image: url(&quot;/assets/i/cases/bobr.gif&quot;);"></span><span class="cases__item-title">OSCHADBANK</span></a>
              </div>
            </div>
          </div>
        </div>
    </div>
	<div class="container">
        <section class="program">
          <div class="program__content">
            <h2 class="program__title content-title">Программа курса</h2>
		{% if videos %}
            <div class="program__items">
			{% for index, video in videos %}
				{% if index == 0 %}
					<div class="program__item program__item_intro">
						<div class="program__item-content">
						  <div class="program__item-title">{{ video.trans('title') }}</div>
						  <div class="program__item-label">{{ video.trans('text_short') }}<br><br></div>
						</div>
					 </div>
				{% elseif index == videos|length - 1 %}
					<div class="program__item program__item_intro">
						<div class="program__item-content">
						  <div class="program__item-title">{{ video.trans('title') }}</div>
						  <div class="program__item-label">{{ video.trans('text_short') }}<br><br></div>
						</div>
					</div>
				{% else %}
					<div class="program__item {{ index <= 1 or index == videos|length - 1 ? '' : 'hidden' }}">
						<div class="program__item-content">
						  <div class="program__item-title collapsed" data-toggle="collapse" data-target="#program-item-{{ index }}">{{ video.trans('title') }}</div>
						  <div class="program__item-label">{{ video.trans('text_short') }}</div>
						  <div class="program__item-text collapse" id="program-item-{{ index }}">
							{{ video.trans('content')|raw }}
						  </div>
						</div>
					</div>
				{% endif %}

				{% if index == 3 %}
					<div class="program__more">
						<div class="program__more-text">Показать все {{ videos|length }} {{ episode_word }}</div>
					</div>
				{% endif %}
			{% endfor %}
            </div>
		{% endif %}
			<ul class="program__benefits">
              <li class="program__benefits-item">
                <div class="program__benefits-image">
                  <img class="program__benefits-image-i" src="/assets/i/atom-icon-2.svg" alt="" width="44" role="presentation">
                </div>
                <div class="program__benefits-content">
                  <div class="program__benefits-title">Теория</div>
                  <div class="program__benefits-text">Лучшие материалы о брендинге. Без воды.</div>
                </div>
              </li>
              <li class="program__benefits-item">
                <div class="program__benefits-image">
                  <img class="program__benefits-image-i" src="/assets/i/arrow-icon.svg" alt="" width="62" role="presentation">
                </div>
                <div class="program__benefits-content">
                  <div class="program__benefits-title">Практика</div>
                  <div class="program__benefits-text">20 лет опыта и практики в одном курсе</div>
                </div>
              </li>
              <li class="program__benefits-item">
                <div class="program__benefits-image">
                  <img class="program__benefits-image-i" src="/assets/i/task-icon.svg" alt="" width="46" role="presentation">
                </div>
                <div class="program__benefits-content">
                  <div class="program__benefits-title">Задания</div>
                  <div class="program__benefits-text">Материалы к каждому эпизоду</div>
                </div>
              </li>
            </ul>
          </div>
        </section>
		{% include 'includes.packages' with {'packages': packages, 'is_not_payed': not paid_videos} %}
	</div>
	<section class="review-carousel index">
        <div class="container">
          <div class="review-carousel__parallax visible-desktop" id="review-carousel-scene">
            <img class="review-carousel__parallax-image layer" src="/assets/i/reviews-blink.png" data-depth="0.2" alt="" role="presentation">
          </div>
          <h2 class="review-carousel__title content-title">Мнения об Андрее Федориве</h2>
        </div>
        <div class="review-carousel__list">
          <div class="review-carousel__item">
            <div class="container">
              <div class="review-card">
                <div class="review-card__content">
                  <div class="review-card__text">Этот человек — настоящий предприниматель! Он объединяет стратегию и творчество и создает из этого душу бизнеса.</div>
                  <div class="review-card__footer">
                    <div class="review-card__name">Дмитрий Портнягин</div>
                    <div class="review-card__label">предприниматель, автор блога «Трансформатор»</div>
                  </div>
                </div>
                <div class="review-card__image">
                  <img class="review-card__image-i" src="/assets/i/review-img-7.jpg" alt="" role="presentation">
                </div>
              </div>
            </div>
          </div>
          <div class="review-carousel__item">
            <div class="container">
              <div class="review-card">
                <div class="review-card__content">
                  <div class="review-card__text">После ПАПА БРЕНДА я сломался… Я понял, что нужно смотреть шире, смотреть дальше и смотреть на свой бизнес не так, как все. Андрей привел меня к этому пониманию.</div>
                  <div class="review-card__footer">
                    <div class="review-card__name">Доктор Эдгар Каминский</div>
                    <div class="review-card__label">пластический хирург</div>
                  </div>
                </div>
                <div class="review-card__image">
                  <img class="review-card__image-i" src="/assets/i/review-img-3.jpg" alt="" role="presentation">
                </div>
              </div>
            </div>
          </div>
          <div class="review-carousel__item">
            <div class="container">
              <div class="review-card">
                <div class="review-card__content">
                  <div class="review-card__text">Мой вам совет: пригубите… а там не остано́витесь!</div>
                  <div class="review-card__footer">
                    <div class="review-card__name">Гарик Корогодский</div>
                    <div class="review-card__label">бизнесмен, писатель, гроссмейстер</div>
                  </div>
                </div>
                <div class="review-card__image">
                  <img class="review-card__image-i" src="/assets/i/review-img-4.jpg" alt="" role="presentation">
                </div>
              </div>
            </div>
          </div>
          <div class="review-carousel__item">
            <div class="container">
              <div class="review-card">
                <div class="review-card__content">
                  <div class="review-card__text">Мы сперва испугались предложенной Андреем идеи для &#171;Сливочной&#187;. Сделали тестовое размещение, и результат превзошел все наши ожидания: где-то продажи выросли в два раза, где-то просто взлетели.</div>
                  <div class="review-card__footer">
                    <div class="review-card__name">Сергей Попов</div>
                    <div class="review-card__label">совладелец и коммерческий директор Останкино</div>
                  </div>
                </div>
                <div class="review-card__image">
                  <img class="review-card__image-i" src="/assets/i/review-img-5.jpg" alt="" role="presentation">
                </div>
              </div>
            </div>
          </div>
          <div class="review-carousel__item">
            <div class="container">
              <div class="review-card">
                <div class="review-card__content">
                  <div class="review-card__text">Мы создаем большие, инфраструктурные проекты в разных странах мира. Брендинг, маркетинг — это &#34;одежка&#34;, по которой встречают, и она должна быть скроена профессионалами. Андрей — большой профессионал.</div>
                  <div class="review-card__footer">
                    <div class="review-card__name">Василий Хмельницкий</div>
                    <div class="review-card__label">мажоритарный акционер компаний UDP, BIOFARMA, UNIT.City</div>
                  </div>
                </div>
                <div class="review-card__image">
                  <img class="review-card__image-i" src="/assets/i/review-img-1.jpg" alt="" role="presentation">
                </div>
              </div>
            </div>
          </div>
          <div class="review-carousel__item">
            <div class="container">
              <div class="review-card">
                <div class="review-card__content">
                  <div class="review-card__text">Андрей произвел на меня такое ошеломляющее впечатление, что вариантов не было. Мы выбрали Fedoriv.</div>
                  <div class="review-card__footer">
                    <div class="review-card__name">Вячеслав Климов</div>
                    <div class="review-card__label">совладелец компании &#171;Новая Почта&#187;</div>
                  </div>
                </div>
                <div class="review-card__image">
                  <img class="review-card__image-i" src="/assets/i/review-img-2.jpg" alt="" role="presentation">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="review-carousel__status visible-mobile"></div>
      </section>

    <section>
        <div class="container index">
            <h2 class="collapse-list__title content-title">База знаний</h2>
            <div class="post__row post index">
                {% for blog_post_item in blog_post %}
                {% if blog-blog_post_item.id %}
                     <div class="blog__item blog__item-small index">
                         <article class="blog__post">
                             <div class="blog__post-img index">
                                 <a href="{{ route('blog_post', {'section_name': blog_post_item.sections[0].slug, 'post_name': blog_post_item.slug}) }}" class="blog__item-link"></a>
                                 <img src="{{ blog_post_item.imageVerbose('image', 'list') }}" alt="alt">
                             </div>
                             <div class="blog__post-content index">
                                  <a href="{{ route('blog_post', {'section_name': blog_post_item.sections[0].slug, 'post_name': blog_post_item.slug}) }}">
                                     {{ blog_post_item.title }}
                                  </a>

                             </div>
                                     <div class="blog__item-count index">
                                        <span class="view">
                                                <span class="view-svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                                <defs>
                                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                                </defs>
                                                                <g fill="none" fill-rule="evenodd">
                                                                    <g>
                                                                        <mask id="b" fill="#fff">
                                                                            <use xlink:href="#a"/>
                                                                        </mask>
                                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                                    </g>
                                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                                </g>
                                                            </svg>
                                                </span>
                                                <span class="">{{ blog_post_item.view_count }}</span>
                                            </span>
                                                     <span class="facebook-count">
                                            <span class="share-svg">
                                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                                        </svg>
                                            </span>
                                            <span class="">{{ blog_post_item.share_twitter_count + blog_post_item.share_facebook_count + blog_post_item.share_vkontakte_count + blog_post_item.share_telegram_count + blog_post_item.share_pinterest_count}}</span>
                                        </span>
                                     </div>
                                </article>
                            </div>
                {% endif %}
                {% endfor %}

                    </div>
                </div>

            <div class="btn__row index">
                <a class="btn__more" href="{{ route('blog_main') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                        <path fill="#D83F34" fill-rule="evenodd" d="M5.977.179c4.3-1.024 8.874 2.499 9 6.897.333 3.98-3.04 7.76-7.036 7.9-3.984.34-7.795-3.021-7.925-7.009C-.224 4.28 2.307.973 5.976.179zm.577 3.58v2.815H3.738v1.874H6.55c.004.937.004 1.87.004 2.806h1.88V8.452c.94-.004 1.88-.004 2.825-.008l-.013-1.87H8.434c0-.94 0-1.877-.004-2.81-.62-.004-1.248-.004-1.876-.004z"/>
                    </svg>

                    Читать больше записей в базе знаний
                </a>
            </div>
    </section>

	<div class="container">
		<section class="collapse-list" id="section-faq">
          <h2 class="collapse-list__title content-title">Часто задаваемые вопросы</h2>
          <div class="collapse-list__item">
            <div class="collapse-list__item-title collapsed" data-toggle="collapse" data-target="#collapse-item-1">Как купить курс?
              <div class="collapse-list__item-icon"></div>
            </div>
            <div class="collapse" id="collapse-item-1">
              <div class="collapse-list__item-text">Оплатить курс можно онлайн: банковской картой на сайте. Сразу после подтверждения оплаты вы получите доступ к просмотру видео в личном кабинете.</div>
            </div>
          </div>
          <div class="collapse-list__item">
            <div class="collapse-list__item-title collapsed" data-toggle="collapse" data-target="#collapse-item-2">Сколько будет доступен курс?
              <div class="collapse-list__item-icon"></div>
            </div>
            <div class="collapse" id="collapse-item-2">
              <div class="collapse-list__item-text">Курс будет доступен в личном кабинете. Вы сможете просматривать видео неограниченное количество раз.</div>
            </div>
          </div>
          <div class="collapse-list__item">
            <div class="collapse-list__item-title collapsed" data-toggle="collapse" data-target="#collapse-item-3">В каком формате проходит обучение?
              <div class="collapse-list__item-icon"></div>
            </div>
            <div class="collapse" id="collapse-item-3">
              <div class="collapse-list__item-text">Курс ПАПА БРЕНДА — 16 видеороликов, объединенных в 10 глав, каждая из которых посвящена отдельной теме.</div>
            </div>
          </div>
          <div class="collapse-list__item">
            <div class="collapse-list__item-title collapsed" data-toggle="collapse" data-target="#collapse-item-4">Как долго длится обучение?
              <div class="collapse-list__item-icon"></div>
            </div>
            <div class="collapse" id="collapse-item-4">
              <div class="collapse-list__item-text">Длительность одного ролика — 25—40 минут, общий хронометраж курса — 8 часов. Вы можете посмотреть его в удобном для вас режиме.</div>
            </div>
          </div>
          <div class="collapse-list__item">
            <div class="collapse-list__item-title collapsed" data-toggle="collapse" data-target="#collapse-item-5">Какие знания я получу по окончании курса?
              <div class="collapse-list__item-icon"></div>
            </div>
            <div class="collapse" id="collapse-item-5">
              <div class="collapse-list__item-text">В основе курса — 20-летний опыт работы одного из лучших маркетологов страны — Андрея Федорива. В этом курсе минимум теории и максимум практики. Вы получите четкие инструменты, кейсы и реальный опыт которые помогут построить свой бренд и сделать его успешным.</div>
            </div>
          </div>
          <div class="collapse-list__item">
            <div class="collapse-list__item-title collapsed" data-toggle="collapse" data-target="#collapse-item-6">Если после курса у меня появятся дополнительные вопросы, смогу ли я задать их преподавателю?
              <div class="collapse-list__item-icon"></div>
            </div>
            <div class="collapse" id="collapse-item-6">
              <div class="collapse-list__item-text">Да. Вопросы можно присылать на info@superludi.com.</div>
            </div>
          </div>
        </section>
        <div class="order-intro">
          <div class="order-intro__bg" style="background-image: url('/assets/i/order-intro-img.jpg');"></div>
          <div class="order-intro__content">
            <div class="order-widget">
              <div class="order-widget__content">
                <div class="order-widget__label">Онлайн-курс</div>
                <div class="order-widget__title">Папа бренда</div>
                <div class="order-widget__text">
					{% if episode_count %}
						{{ episode_count }} {{ episode_word }}
					{% endif %}
					+ скачиваемые материалы.</br> Доступ — 6 {{ course_expires_word }}.
				</div>
              </div>
			  <div class="order-widget__aside">
				{% if episode_count and (not authUser or (authUser and not paid_videos)) %}
					{#<a class="order-widget__button order-widget__button_buy btn scroll-link" href="#section-packages">Купить</a>#}
				{% elseif authUser and paid_videos %}
					<a class="btn btn-green" href="{{ route('video_list') }}">Смотреть</a>
				{% endif %}
				{% if not authUser or (authUser and not paid_videos) %}
					{#<a class="order-widget__button order-widget__button_play btn btn-green btn-bordered-watch scroll-link" href="{{ authUser ? route('video_list') : '#section-packages' }}">Бесплатный урок</a>#}
				{% endif %}
              </div>
            </div>
          </div>
          <div class="order-intro__list">
            <div class="info-list">
              <div class="info-list__item">
                <div class="info-list__image">
                  <img class="info-list__image-i" src="/assets/i/order-intro-icon-1.svg" alt="" height="35" role="presentation">
                </div>
                <div class="info-list__title">Просмотр во всех браузерах</div>
              </div>
              <div class="info-list__item">
                <div class="info-list__image">
                  <img class="info-list__image-i" src="/assets/i/order-intro-icon-2.svg" alt="" height="35" role="presentation">
                </div>
                <div class="info-list__title">Скачиваемые материалы</div>
              </div>
              <div class="info-list__item">
                <div class="info-list__image">
                  <img class="info-list__image-i" src="/assets/i/order-intro-icon-3.svg" alt="" height="35" role="presentation">
                </div>
                <div class="info-list__title">HD-качество</div>
              </div>
              <div class="info-list__item">
                <div class="info-list__image">
                  <img class="info-list__image-i" src="/assets/i/order-intro-icon-4.svg" alt="" height="35" role="presentation">
                </div>
                <div class="info-list__title">Доступ {{ course_expires }} {{ course_expires_word }}</div>
              </div>
            </div>
          </div>
        </div>

        <section class="certificate">
            <h2 class="certificate__title content-title">
                <span>По завершении курса</span>
                Вы получите персонализированный сертификат
            </h2>
            <div class="container">
                <div class="certificate__content">
                    <img src="/assets/i/certificate.png" alt="alt">
                </div>
            </div>

        </section>


        <div class="subscribe-box">
          <div class="subscribe-box__content">
            <div class="subscribe-box__label">Знания лучших</div>
            <div class="subscribe-box__title">{{ siteName }}</div>
            <div class="subscribe-box__text">
              <p>Учиться нужно у лучших. Мы зовем их суперлюдьми.</p>
              <p>Каким бы делом они ни занимались — везде все хорошо. Они в балансе, при успешном деле и хотят делиться знаниями и опытом с предпринимателями, менеджерами и творческими людьми.</p>
              <p> Мы помогаем суперлюдям доносить свои мысли, знания и опыт до аудитории через вдохновляющий контент в публичных выступлениях, видеокурсах и социальных сетях.</p>
            </div>
            <form class="subscribe-box__form" action="https://se7ensky.us17.list-manage.com/subscribe/post-json?u=87e6b1ed8f48193eec9e691a7&amp;amp;id=245b7906e8&amp;c=?" method="get" target="_blank" novalidate="novalidate">
              <div class="subscribe-box__form-title">Узнавай о новых курсах</div>
              <div class="subscribe-box__form-group">
                <div class="subscribe-box__form-wrapper">
                  <div class="subscribe-box__form-container">
                    <input class="subscribe-box__form-input form-control form-control form-control_no-border" type="email" name="EMAIL" placeholder="Эл. почта" required="required">
                  </div>

                  <div class="hidden">
                    <input type="text" name="b_87e6b1ed8f48193eec9e691a7_245b7906e8" tabindex="-1" value="">
                  </div>
                  <button class="subscribe-box__form-button btn" id="form_subscribe_button" type="submit" name="subscribe" >Подписаться</button>
                </div>
                <div class="error-message">Введите электронную почту</div>
                <div class="subscribe-box__form-message">Этот емейл уже подписан</div>
              </div>
                <div class="subscribe-box__form-group user_agree_subscribe">
                    <input type="checkbox" name="user_agree_subscribe" id="user_agree_subscribe" >
                    <label for="user_agree_subscribe" class="user_agree_span">Я прочел(-ла) и принимаю
                        <a href="https://superludi.com/terms/" target="_blank">Условия оказания услуг</a> и <br>
                        <a href="https://superludi.com/privacy/" target="_blank">Политику конфиденциальности</a>.</label>
                    <div class="error-message" hidden>Для того, чтобы продолжить, Вам нужно принять Условия.</div>
                </div>
              <div class="subscribe-box__form-success">Спасибо за подписку!</div>
            </form>
          </div>
        </div>
		{% include 'includes.info_box' with {'parent_class': 'info-box_border-top'} %}
      </div>
		{% include 'pay.form' %}
{% endblock %}
