{% set ver = '?v=035' %}
<!DOCTYPE html>
<html>
<head>
    {% include 'includes.gtag' %}
    <title>{{ meta['title'] }}</title>
    <meta name="keywords" content="{{ meta['keywords'] }}" />
    <meta name="description" content="{{ meta['description'] }}" />
    <meta charset="UTF-8">
    <meta content="width=device-width,minimum-scale=1,maximum-scale=1" name="viewport">
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="{{ post.title|default('Онлайн-курс ПАПА БРЕНДА от Андрея Федорива') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url_current() }}">
    {% if post.imageVerbose('image', 'list') %}
        {% set image = 'https://blog.'~  mainPage ~ post.imageVerbose('image', 'list') %}
    {% else %}
        {% set image = 'https://' ~ mainPage ~ "/assets/i/og.jpg" %}
    {% endif %}
    <meta property="og:image" content="{{ image }}">
    <meta property="og:description" content="{{ post.title|default('Курс для тех, кто создает свой бизнес с нуля или пытается вернуть к жизни плохо работающий бренд') }}">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta property="fb:app_id" content="806056866104435">
    <link rel="apple-touch-icon" href="https://brandfather.superludi.com/assets/i/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-57х57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-114х114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-144х144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://brandfather.superludi.com/assets/i/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" href="/assets/i/favicon.png{{ ver }}">
    <link href="/assets/brandfather.css{{ ver }}" rel="stylesheet">
    <script src="/assets/likely.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/likely.css">
</head>
<body class="blog-layout {% block body_class%}{% endblock %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVBKTDF"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% block title_page%}{% endblock %}

<header {% block header_style%}{% endblock %} class="header blog_header">
    <div class="container">
        <div class="header__wrap">
            <div class="header__inner">
                <a class="header__logo" href="{{'https://' ~ mainPage }}">
                    <img style="{% block header_logo_i_style%}{% endblock %}" class="header__logo-i" src="/assets/i/logo-blog.svg" alt="" role="presentation">
                    {#<img class="{% block header_logo_sm_class%}{% endblock %}" src="/assets/i/logo-sm.svg" alt="" width="71" height="84" role="presentation">#}
                    <svg xmlns="http://www.w3.org/2000/svg" width="134" height="158" viewBox="0 0 134 158">
                        <g fill="none" fill-rule="nonzero">
                            <path fill="#C9002C" d="M66.906 0l10.583 27.971 23.058-19.088-5.103 29.483 29.484-4.914-18.9 23.058L134 66.904l-27.972 10.584 18.9 23.057-29.484-5.102 5.103 29.483-23.058-18.9-10.583 27.972-10.395-27.972L14.364 158l24.003-62.557-29.484 5.102 19.089-23.057L0 66.904 27.972 56.51 8.882 33.452l29.485 4.914-4.914-29.483L56.51 27.97z"/>
                            <path fill="#FFF" d="M68.089 89C55.92 89 46 78.894 46 66.5S55.921 44 68.089 44c6.177 0 11.793 2.479 15.911 7.055l-5.616 5.53c-2.808-2.86-6.364-4.577-10.295-4.577-7.862 0-14.227 6.484-14.227 14.492 0 8.008 6.365 14.492 14.227 14.492 3.93 0 7.675-1.526 10.295-4.577L84 81.945C79.882 86.52 74.266 89 68.089 89"/>
                        </g>
                    </svg>
                </a>
                {% block header_content%}{% endblock %}
                <span class="header__line"></span>
                <a href="{{ route('blog_main') }}" class="header__base">База знаний</a>
            </div>
            {% block header_info %}{% endblock %}
            <div class="header__nav-right">
                <div class="nav">
                    <a href="javascript:void(0)" class="nav__trigger">
                        <div class="bars"></div>
                    </a>
                    <div class="header__nav nav__content">
                        <ul class="nav__list">
                            {% for section in sections %}
                                <li class="nav__item"><a href="{{ route('blog_section', {section_name: section.slug }) }}">{{ section.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="header__search">
                    <button class="search-btn" id="searchBtn">
                        <span class="search-on">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="29" viewBox="0 0 28 29">
                                <defs>
                                    <path id="a" d="M0 0h28v29H0z"/>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <mask id="b" fill="#fff">
                                        <use xlink:href="#a"/>
                                    </mask>
                                    <path fill="#FFF" d="M19.448 18.931a11.289 11.289 0 0 0 2.996-7.654C22.444 5.069 17.417 0 11.222 0 5.027 0 0 5.069 0 11.277c0 6.208 5.027 11.277 11.222 11.277 2.522 0 4.84-.834 6.72-2.245l8.344 8.385a1 1 0 0 0 .711.306.973.973 0 0 0 .711-.306c.39-.391.39-1.038 0-1.446l-8.26-8.317zM2.031 11.277c0-5.086 4.113-9.236 9.191-9.236 5.061 0 9.19 4.133 9.19 9.236 0 5.103-4.112 9.236-9.19 9.236-5.078 0-9.19-4.15-9.19-9.236z" mask="url(#b)"/>
                                </g>
                            </svg>
                        </span>
                    </button>


                    <div class="modal__search" id="searchModal">
                        <span class="closeBtn">&times;</span>
                        <form class="form__blog-search">
                            <p>
                                <input type="submit" value="" class="search-btn">
                                <input type="search" name="q" placeholder="Поиск..."   class="search-input">
                            </p>
                        </form>
                    </div>
                </div>

                {#
                <div class="header__aside">
                    {% if (authUser) %}
                        <div class="header__account">
                            <ul class="header__account-menu">
                                {% block menu_logged %}{% endblock %}
                                <li class="header__account-item">
                                    <a class="header__account-link" href="{{ route('logout') }}">Выход</a>
                                </li>
                            </ul>
                            <div class="header__account-label">{{ authUser.shortName() }}
                                <div class="header__account-caret icon-caret-bottom"></div>
                            </div>
                        </div>
                    {% else %}
                        <a class="header__auth" href="#modal-login" data-toggle="modal"><span class="header__auth-icon icon-enter"></span><span class="header__auth-label">Вход</span></a>
                    {% endif %}
                </div>
                #}
            </div>

        </div>
    </div>

    <div class="search" id="search">
        <form action="{{route('search_post')}}" method="get">
            <button type="submit" class="submitSearch">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="29" viewBox="0 0 28 29">
                    <defs>
                        <path id="a" d="M0 0h28v29H0z"/>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                        <mask id="b" fill="#fff">
                            <use xlink:href="#a"/>
                        </mask>
                        <path fill="#FFF" d="M19.448 18.931a11.289 11.289 0 0 0 2.996-7.654C22.444 5.069 17.417 0 11.222 0 5.027 0 0 5.069 0 11.277c0 6.208 5.027 11.277 11.222 11.277 2.522 0 4.84-.834 6.72-2.245l8.344 8.385a1 1 0 0 0 .711.306.973.973 0 0 0 .711-.306c.39-.391.39-1.038 0-1.446l-8.26-8.317zM2.031 11.277c0-5.086 4.113-9.236 9.191-9.236 5.061 0 9.19 4.133 9.19 9.236 0 5.103-4.112 9.236-9.19 9.236-5.078 0-9.19-4.15-9.19-9.236z" mask="url(#b)"/>
                    </g>
                </svg>
            </button>
            <input name="search" placeholder="Поиск..." type="search" class="search-input" id="modal-search-field">
        </form>
    </div>
</header>
{% block modals %}
    <div class="modal fade modal-md" id="modal-buy-course" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="buy-box">
                    <div class="buy-box__wrapper">
                        <div class="buy-box__label">Онлайн-курс</div>
                        <h2 class="buy-box__title">Папа бренда</h2>
                        <div class="buy-box__steps">
                            <ol class="step-nav">
                                <li class="step-nav__item active">
                                    <a class="step-nav__link" href="/">Личные данные</a>
                                </li>
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Оплата</a>
                                </li>
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Доступ к видео</a>
                                </li>
                            </ol>
                        </div>
                        <div class="validation-wrap">
                            <form id="checkout_step_first" action="{{ route('user_create') }}" action-paying="{{ route('order_create') }}" class="buy-box__form" novalidate="novalidate">
                                <div class="server-message-box"></div>
                                <div class="form-group">
                                    <input name="user_name" class="form-control" type="text" placeholder="Имя" required="required">
                                    <div class="error-message">Введите имя</div>
                                </div>
                                <div class="form-group">
                                    <input name="user_phone" class="form-control" type="tel"  required="required">
                                    <div class="error-message">Введите номер телефона</div>
                                </div>
                                <div class="form-group">
                                    <input name="user_email" class="form-control" type="email" placeholder="Эл. почта" required="required">
                                    <div class="error-message">Введите электронную почту</div>
                                </div>
                                <div class="buy-box__form-footer">
                                    <button class="buy-box__button btn btn-green btn-block" type="submit">Продолжить</button>
                                </div>
                                <div class="buy-box__message">Сразу после подтверждения оплаты вы получите доступ к просмотру видео</div>
                            </form>
                            <a style="display: none;" id="modal_buy_course_second_step_show" class="btn btn-green" href="#modal-buy-course-second-step" data-toggle="modal">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-md" id="modal-buy-course-3" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="buy-box">
                    <div class="buy-box__wrapper">
                        <div class="buy-box__label">Онлайн-курс</div>
                        <h2 class="buy-box__title">Папа бренда</h2>
                        <div class="buy-box__steps">
                            <ol class="step-nav">
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Личные данные</a>
                                </li>
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Оплата</a>
                                </li>
                                <li class="step-nav__item active">
                                    <a class="step-nav__link" href="/">Доступ к видео</a>
                                </li>
                            </ol>
                        </div>
                        <div class="buy-box__info">
                            <div class="buy-box__info-title">Оплата прошла успешно</div>
                            <div class="buy-box__info-text">Материалы уже доступны в личном кабинете.&#32;</div>
                            <!--a class="btn btn-block btn-green modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войти</a-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a style="display: none;" class="btn btn-green" href="#modal-buy-course-3" data-toggle="modal">Show modal buy course step 3 </a>
    <div class="modal fade modal-md" id="modal-buy-course-second-step" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="buy-box">
                    <div class="buy-box__wrapper">
                        <div class="buy-box__label">Онлайн-курс</div>
                        <h2 class="buy-box__title">Папа бренда</h2>
                        <div class="buy-box__steps">
                            <ol class="step-nav">
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Личные данные</a>
                                </li>
                                <li class="step-nav__item active">
                                    <a class="step-nav__link" href="/">Оплата</a>
                                </li>
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Доступ к видео</a>
                                </li>
                            </ol>
                        </div>
                        <div class="buy-box__info">
                            <div id="auth_order_in_progress">
                                <div class="buy-box__info-text">
                                    <br>
                                    <div class="server-message-box"></div>
                                    <span class="js-message-pay-in-progress">Выполняется перенаправление на систему оплаты...</span>
                                </div>
                            </div>
                            <div class="js-auth-order-successful">
                                <div class="buy-box__info-title">Оплата прошла успешно</div>
                                <div class="buy-box__info-text">Материалы уже доступны в личном кабинете.&#32;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-md" id="modal-buy-course-second-step-fail" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="buy-box">
                    <div class="buy-box__wrapper">
                        <div class="buy-box__label">Онлайн-курс</div>
                        <h2 class="buy-box__title">Папа бренда</h2>
                        <div class="buy-box__steps">
                            <ol class="step-nav">
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Личные данные</a>
                                </li>
                                <li class="step-nav__item active">
                                    <a class="step-nav__link" href="/">Оплата</a>
                                </li>
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Доступ к видео</a>
                                </li>
                            </ol>
                        </div>
                        <div class="buy-box__info">
                            <div class="buy-box__info-title error">Оплата завершилась ошибкой</div>
                            <div class="buy-box__info-text">Приносим извинения за неудобства. Пожалуйста, свяжитесь с администрацией сайта или попытайеть оплатить заказ снова.&#32;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a style="display: none;" href='#modal-buy-course-second-step-fail' data-toggle='modal'>Show modal buy course second step fail</a>
    <div class="modal fade modal-md" id="modal-buy-course-second-step-no-payment-confirmation" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="buy-box">
                    <div class="buy-box__wrapper">
                        <div class="buy-box__label">Онлайн-курс</div>
                        <h2 class="buy-box__title">Папа бренда</h2>
                        <div class="buy-box__steps">
                            <ol class="step-nav">
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Личные данные</a>
                                </li>
                                <li class="step-nav__item active">
                                    <a class="step-nav__link" href="/">Оплата</a>
                                </li>
                                <li class="step-nav__item">
                                    <a class="step-nav__link" href="/">Доступ к видео</a>
                                </li>
                            </ol>
                        </div>
                        <div class="buy-box__info">
                            <div class="buy-box__info-title error">Нет подтверждения оплаты</div>
                            <div class="buy-box__info-text">
                                К сожалению, на текущий момент, мы не получили подтверждения оплаты.
                                Пожалуйста, подождите некоторое время или свяжитесь с администрацией сайта.&#32;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a style="display: none;" href='#modal-buy-course-second-step-no-payment-confirmation' data-toggle='modal'>Show modal buy course second step no payment confirmation</a>
    {% if(not authUser) %}
    {% include 'auth.login' %}

    <div class="modal fade" id="modal-registration" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="enter-box">
                    <div class="enter-box__title">Регистрация</div>
                    <div class="validation-wrap">
                        <form id="form_registration" action="{{ route('user_registration') }}" class="enter-box__form" novalidate="novalidate">
                            <a class="enter-box__social btn btn-fb btn-block" href="{{ route('socialite.redirect',{'provider': 'facebook'}) }}"><span class="btn-icon icon-facebook"></span>Регистрация&#32; через Facebook</a>
                            <div class="enter-box__separator">
                                <div class="enter-box__separator-text">или</div>
                            </div>
                            <div class="server-message-box form-registration"></div>
                            <div class="form-group">
                                <input name="user_email" class="form-control" type="email" placeholder="Эл. почта" required="required">
                                <div class="error-message">Введите электронную почту</div>
                            </div>
                            <div class="form-group">
                                <input name="user_password" class="form-control" type="password" placeholder="Пароль" required="required">
                                <div class="error-message">Введите пароль</div>
                            </div>
                            <div class="form-group">
                                <button id="form_registration_button" class="enter-box__button btn btn-block" type="submit">Зарегистрироваться</button>
                            </div>
                            <div class="enter-box__footer">
                                <div class="enter-box__footer-row">Уже зарегистрированы?&#32;
                                    <a class="enter-box__footer-link modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войдите</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-phone" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="phone-box">
                    <div class="phone-box__title">Последний шаг</div>
                    <div class="phone-box__label">Вы вошли как</div>
                    <div class="phone-box__user">
                        {% if request_phone.avatar %}
                            <div class="phone-box__user-image">
                                <img class="phone-box__user-image-i" src="{{ request_phone.avatar }}" alt="" role="presentation">
                            </div>
                        {% endif %}
                        <div id="modal_phone_user_label" class="phone-box__user-label">{{ request_phone.name }}</div>
                    </div>
                    <div class="validation-wrap">
                        <form id="form_request_phone" action="{{ route('user_create') }}" class="phone-box__form" novalidate="novalidate">
                            <div class="server-message-box form-request-phone"></div>
                            <div class="form-group">
                                <input name="user_phone" class="form-control" type="tel"  required="required">
                                <div class="error-message">Введите номер телефона</div>
                            </div>
                            <div class="form-group">
                                <button id="form_request_phone_button" class="phone-box__button btn btn-block btn-green" type="submit">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a style="display: none;" id="modal_phone_show" href='#modal-phone' data-toggle='modal'>Show modal phone</a>
    </div>
    <script type="text/javascript">
        {% if(request_phone) %}
        window.request_phone = {{ request_phone|json_encode()|raw }}
        {% endif %}
    </script>

    <div class="modal fade" id="modal-pass-recovery" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="pass-recovery">
                    <div class="validation-wrap">
                        <form id="form_pass_recovery" action="{{ route('password_reset') }}" class="pass-recovery__form" novalidate="novalidate">
                            <div class="pass-recovery__title">Восстановление пароля</div>
                            <div class="pass-recovery__text">Новый пароль будет отправлен на почту</div>
                            <div class="form-group">
                                <input class="form-control" name="user_email" type="email" placeholder="Эл. почта" required="required">
                                <div id="pass_recovery_error_message_client" class="error-message">Введите электронную почту</div>
                            </div>
                            <div class="server-message-box form-pass-recovery"></div>
                            <button class="btn btn-block" type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a style="display: none;" href='#modal-pass-success' data-toggle='modal'>Show modal pass success</a>
    </div>
    <div class="modal fade" id="modal-pass-success" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="pass-recovery">
                    <div class="pass-recovery__title">Новый пароль отправлен</div>
                    <div class="pass-recovery__text">Ваш новый пароль автоматически активируется, если вы его используете при входе</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-pass-recovery-done" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="modal-close close" data-dismiss="modal" type="button"></button>
                <div class="pass-recovery">
                    <div class="pass-recovery__title">Новый пароль активирован</div>
                    <div class="pass-recovery__text">
                        <a class="modal-link" href="#modal-login" data-toggle="modal" data-dismiss="modal">Войти в кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
<main class="main">
    {% block content%}{% endblock %}
</main>
<footer class="footer {% block footer_class%}{% endblock %}">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col footer__col-1">
                <h5>Курсы</h5>
                <a href="https://brandfather.superludi.com/" class="footer__curs">
                    ПАПА БРЕНДА Андрей Федорив
                </a>
            </div>
            <div class="footer__col footer__col-2">
                <div class="footer__support">
                    <h5>Поддержка</h5>
                    <ul>
                        <li><a href="mailto:info@superludi.com">info@superludi.com</a></li>
                        <li><a href="tel:0800210791">0 800 210 791 (Украина)</a></li>
                        <li class="small">бесплатно по Украине</li>
                        <li><a href="tel:+74997031623">+7(499) 703 16 23 (СНГ)</a></li>
                    </ul>
                </div>


            </div>
            <div class="footer__col footer__col-3">
                <div class="footer__card">
                    <h5>Мы принимаем</h5>
                    <ul>
                        <li>
                            <img src="/assets/i/footer/card1.png" alt="card">
                        </li>
                        <li>
                            <img src="/assets/i/footer/card2.png" alt="card">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__col footer__col-4">
                <div class="footer__soc">
                    <h5>Присоединяйтесь</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/superludi.official" target="_blank">
                                <img src="/assets/i/footer/facebook.png" alt="facebook">
                            </a></li>
                        <li><a href="http://instagram.com/superludi.official" target="_blank">
                                <img src="/assets/i/footer/instagram.png" alt="instagram" class="btn-instagram__foot">
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            &copy; {{ 'now'|date('Y') }} {{ siteName }}<sup><small>тм</small></sup>. Все права защищены
        </div>

    </div>
</footer>
<div class="hidden">

</div>
<div class="modals">
</div>
<meta name="_token" content="{{ csrf_token() }}" />
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=se7ensky"></script>
<script type="text/javascript" src="/assets/brandfather.min.js{{ ver }}"></script>
<script type="text/javascript" src="/assets/scripts.js{{ ver }}"></script>
<script type="text/javascript">
    {% if(popup_url) %}
    window.location_hash = "{{ popup_url }}";
    {% endif %}
    {% if(url_purchased_video) %}
    window.url_purchased_video = "{{ url_purchased_video }}";
    {% endif %}
    {% if(order_to_pay) %}
    window.order_to_pay = "{{ order_to_pay }}";
    {% endif %}
    function socialAction() {
        var path = window.location.pathname.split('/');
        $.ajax({
            type: "POST",
            url: "/social-count",
            data: "section_name=" + path[1] + "&post_name=" + path[2],
            success: function (msg) {
                $('.post__head-bottom .social-count .count').text(msg);
            }
        });
    }

    (function($){
        var fieldInput = $('#search-page-input');
        if (fieldInput.val()) {
            var fldLength = fieldInput.val().length;
            fieldInput[0].setSelectionRange(fldLength, fldLength);
        }
        fieldInput.focus();
        $('#close-search').click(function () {
            $('.search__form').hide();
        });
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="_token"]').attr('content')
            }
        });

        function addPosts( e ){
            page = 0;
            page = $('.side-main').length;

            $.ajax({
                url: 'more/'+page,
                type: 'get',
                success: function( data){
                    var count = (data.match(/main-posts/g) || []).length;
                    if(data == '' || count < 14) {
                        $('#main-more-post').css('visibility', 'hidden');
                    }
                    $( data ).insertBefore( ".blog__row:last" );
                },
                error: function(data){
                    console.log('error in posting posts');
                }
            });

        }

        function mostViewPost( e ){
            page = 0;
            page = $('.post__row.post').length;
            current_id = parseInt($('#currentID').text());
            $.ajax({
                url: '../most-view/'+page+'/'+current_id,
                type: 'get',
                success: function( data){
                    var count = (data.match(/blog__post-img/g) || []).length;
                    if(data == '' || count < 5) {
                        $('#most-view-button').hide();
                    }
                    $( data ).insertBefore( ".post__row:last" );
                },
                error: function(data){
                    console.log('error in posting posts');
                }
            });
        }

        function incrementNetwork( e ){
            pageName = '';
            social = '';
            pageName = $(this).attr('page');
            social = $(this).attr('social');
            console.log($('.likely__counter.likely__counter_vkontakte').html());

            $.ajax({
                url: '/social-networks/'+pageName+'/'+social,
                type: 'post',
                success: function( data){
                    console.log(data);
                },
                error: function(data){
                    console.log('error in posting posts');
                }
            });
        }

        $('#most-view-button').click( mostViewPost );
        $('#main-more-post').click( addPosts );
        //social network count
    })(jQuery);

</script>
</body>
</html>
