{% extends 'layout' %}

{% block header_style%}style="display: none;"{% endblock %} 

{% block title_page %}
	<h1 class="sr-only">{{ 'Суперлюди' }}</h1>
{% endblock %}	

{% block content %}
	
<div class="container">
	<section class="system-message">
	  <div class="system-message__image">
		<img class="system-message__image-i" src="/assets/i/logo.svg" alt="" width="408" height="110" role="presentation">
	  </div>
	  <h2 class="system-message__title">Сервис 
		<br>недоступен</h2>
	  <a class="system-message__button btn" href="/">На главную</a>
	</section>
</div>

{% endblock %}

