{% extends 'layout' %}

{% block body_class %}header-offset{% endblock %}

{% block footer_class %}footer_mod{% endblock %}

{% block menu_logged %}
	<li class="header__account-item">
		<a class="header__account-link" href="/">Главная</a>
	</li>
{% endblock %}

{% block title_page %}
	<h1 class="sr-only">{{ siteName }}</h1>
{% endblock %}


{% block header_logo_i_style %}display: none;{% endblock %}
{% block header_logo_sm_class %}header__logo-small{% endblock %}	

{% block header_content %}
	<div class="header__content">
		<div class="header__content-inner">
			<div class="header__title">Папа бренда</div>
			<div class="header__subtitle">Курс Андрея Федорива о маркетинге</div>
		</div>
	</div>
{% endblock %}

{% block packages_class %}packages_simple-offsets{% endblock %}

{% block content %}

	<div class="container">
	  <div class="videos">
		<div class="videos__inner">
		  <div class="videos__main tab-content">
			  {# {% set is_selected = 0 %} #}
			{% for index, video in videos %}
				{% if is_paid or (video.id in free_video_ids) %}
					<div class="videos__video fade {{ (is_selected == (index+1)) and (is_paid or video.id in free_video_ids) ? 'active in' : '' }}" id="video-0{{ index + 1 }}" video-point="{{ (is_selected == (index+1)) ? video_point : 0 }}" role="tabpanel">
						{% if video.code %}
						  <div class="videos__player">
							  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src={{ video.code|raw }}  title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
						  </div>
						{% endif %}
						<div class="videos__content">
							<div class="videos__title">{{ video.trans('title') }}</div>
							{% if video.trans('text_short') %}
								<div class="videos__snippet">{{ video.trans('text_short')|nl2br }}</div>
							{% endif %}
							{% if video.trans('content') %}
								<div class="videos__description">
								  <div class="videos__description-inner">{{ video.trans('content')|raw }}</div>
								  <div class="videos__description-link"><span>Развернуть описание</span></div>
								</div>
							{% endif %}
							{% if (video.file) %}
								<div class="videos__materials">
								  <div class="videos__materials-title">Материалы к эпизоду</div>
								  <div class="videos__materials-links">
									<a class="videos__materials-icon icon-download" href="{{ video.uploadVerbose('file') }}" target="_blank" title="Cкачать материалы"></a>
								  </div>
								</div>
							{% endif %}

						</div>
						<div id="hypercomments_comment_div-{{ index + 1 }}" class="hypercomments_comment_div">

						</div>
						<script type="text/javascript">
                            _hcwp = window._hcwp || [];
                            _hcwp.push({widget:"Stream", widget_id: 104786, xid: 'video-{{ index + 1 }}', append: "#hypercomments_comment_div-{{ index + 1 }}", hc_disable: 1, social: 'google, facebook'});
                            (function() {
                                if("HC_LOAD_INIT" in window)return;
                                HC_LOAD_INIT = true;

                                var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
                                var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
                                hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/104786/"+lang+"/widget.js";
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(hcc, s.nextSibling);
                            })();
						</script>
					</div>
			  {# {% set is_selected = 1 %} #}
				{% endif %}
			{% endfor %}

		  </div>
		  <div class="videos__aside" role="tablist">
			<div class="videos__aside-title">Эпизоды</div>
			<div class="videos__list">
				{# {% set is_selected = 0 %} #}
				{% for index, video in videos %}
					{% if is_paid or (video.id in free_video_ids) %}
						<div class="videos__preview-wrap">
							<a class="video-paid videos__preview {{ (is_selected == (index+1)) and (is_paid or video.id in free_video_ids) ? 'selected' : '' }}" href="#video-0{{ index + 1 }}" role="tab" data-toggle="tab" style="background-image:url({{ video.imageVerbose('image', 'list_public') }});"><span class="videos__preview-overlay"></span><span class="videos__preview-content"><span class="videos__preview-number">{{ video.index(index + 1) }}</span><span class="videos__preview-title">{{ video.trans('title') }}</span></span><span class="videos__preview-button icon-play"></span></a>
						</div>
                        {# {% set is_selected = 1 %} #}
					{% else %}
						<div class="videos__preview-wrap">
							<a class="videos__preview not-available" href="#section-packages" style="background-image:url({{ video.imageVerbose('image', 'list_public') }});"><span class="videos__preview-overlay"></span><span class="videos__preview-content"><span class="videos__preview-number">{{ video.index(index + 1) }}</span><span class="videos__preview-title">{{ video.trans('title') }}</span></span><span class="videos__preview-button icon-plus"></span></a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		  </div>
		</div>

	  </div>
	{% include 'includes.packages' with {'packages': packages, 'is_not_payed': not is_paid, 'is_cabinet': 1} %}
	{% include 'includes.info_box' with {'parent_class': 'info-box_full-width'} %}
	</div>
{% endblock %}
