{% extends 'admin::layout' %}

{% block content %}
    <div class="card-box">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">

                {{ form_component(form, 'form_open', {id: 'form-section'}) }}

                {{ form_field(form, 'id') }}
                {{ form_field(form, 'title') }}
                {{ form_field(form, 'slug') }}

                {{ form_component(form, 'form_submit') }}
                {{ form_component(form, 'form_close') }}

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('vendor/admin/plugins/bootstrapvalidator/dist/js/bootstrapValidator.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/admin/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js') }}" type="text/javascript"></script>
    <script>
        $(function () {
            $('#form-section').bootstrapValidator();
        });
    </script>
{% endblock %}