{% extends 'admin::layout' %}

{% block content %}
    <div class="card-box">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">

                {{ form_component(form, 'form_open', {id: 'form-post'}) }}

                {{ form_field(form, 'id') }}
                {{ form_field(form, 'title') }}
                {{ form_field(form, 'author') }}
                {{ form_field(form,'image') }}
                {{ form_field(form, 'slug') }}
                {{ form_field(form, 'content', {id: 'content'}) }}
                {{ form_field(form, 'date', {id: 'date'})}}
                {{ form_field(form, 'sections_ids', {multiple: 'true'}) }}
                {{ form_field(form, 'banner_id') }}
                {{ form_field(form, 'draft') }}

                {{ form_component(form, 'form_submit') }}
                {{ form_component(form, 'form_close') }}

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('vendor/admin/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/admin/plugins/bootstrapvalidator/dist/js/bootstrapValidator.js') }}" type="text/javascript"></script>
    <script src="{{ asset('vendor/admin/plugins/jquery-validation/dist/jquery.validate.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('vendor/admin/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('vendor/admin/plugins/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('vendor/admin/plugins/select2/select2.min.js') }}"></script>

    <script src="{{ asset('vendor/admin/js/script.js') }}"></script>
    <script src="{{ asset('assets/customWysiwyg.js') }}"></script>
    <script>
        $(function () {
            $('#form-post').bootstrapValidator();
            $('#date').datepicker({
                dateFormat: 'd-m-Y',
                startDate: '-20y',
                todayHighlight: true
            });
        customWysiwyg();
        });
    </script>
{% endblock %}