{% extends 'admin::layout' %}

{% block content %}
    {% embed 'admin::emb.top_btn' %}
        {% block main %}
            <a class="btn btn-default waves-effect waves-light" href="{{ route('admin/post_add') }}"><i class="fa fa-plus-circle">&nbsp;&nbsp;</i>{{ trans('admin/post.add') }}</a>
        {% endblock %}
    {% endembed %}

    {% embed 'admin::emb.filter' %}
        {% block main %}
            <div class="form-group">
				<label class="col-sm-2 control-label">{{ trans('admin/section.title') }}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control input-sm" placeholder="" name="title" value="{{ filter.title }}">
				</div>
			</div>
		{% endblock %}
    {% endembed %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive table-article-list">
                {% if items|length %}
                    <table id="datatable" class="table table-striped table-bordered ent-table">
                        <thead>
                        <tr>
                            <th>
                                <div class="checkbox checkbox-custom">
                                    <input type="checkbox">
                                    <label></label>
                                </div>
                            </th>
                            <th class="sortable" data-by="id">#</th>
							<th>{{ trans('admin/post.action') }}</th>
                            <th>{{ trans('admin/post.title') }}</th>
                            <th>{{ trans('admin/post.slug') }}</th>
                            <th>{{ trans('admin/post.date') }}</th>
						</tr>
                        </thead>
                        <tbody>

                        {% for item in items %}
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-custom">
                                        <input type="checkbox" value="{{ item.id }}">
                                        <label></label>
                                    </div>
                                </td>
                                <td><a class="name-link" href="{{ route('admin/post_show', {id: item.id}) }}">{{ item.id }}</a></td>
                                <td class="text-nowrap">
                                    <a href="{{ route('admin/post_show', {id: item.id}) }}"><i class="fa fa-pencil"></i></a>
                                   <!-- <span class="action-tuple">
                                        <a href="#" data-action="hide"><i class="fa fa-eye {{ item.is_published ? 'on' : 'off' }}"></i></a>
                                        <a href="#" data-action="publish"><i class="fa fa-eye-slash {{ item.is_published ? 'off' : 'on' }}"></i></a>
                                    </span> -->
                                    <a href="#" data-action="delete"><i class="fa fa-trash-o"></i></a>
                                </td>
								<td><a class="name-link" href="{{ route('admin/post_show', {id: item.id}) }}">{{ item.title }}</a></td>
                                <td><a class="name-link" href="{{ route('admin/post_show', {id: item.id}) }}">{{ item.slug }}</a></td>
                                <td><a class="name-link" href="{{ route('admin/post_show', {id: item.id}) }}">{{ item.date|date("Y-m-d") }}</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    {{ trans('admin::common.empty') }}
                {% endif %}

                {% include 'admin::inc.pagination'  with {paginator: items} %}
            </div>
            {% if items|length %}
                {% embed 'admin::emb.group_action' with {url: route('admin/post_action')} %}
                    {% block menu %}
                        <li><a href="#" data-action="delete"><i class="fa fa-trash-o">&nbsp;&nbsp;</i>{{ trans('admin::common.delete') }}</a></li>
                      <!--  <li><a href="#" data-action="publish"><i class="fa fa-eye">&nbsp;&nbsp;</i>{{ trans('admin::common.publish') }}</a></li>
                        <li><a href="#" data-action="hide"><i class="fa fa-eye-slash">&nbsp;&nbsp;</i>{{ trans('admin::common.hide') }}</a></li> -->
                    {% endblock %}
                {% endembed %}
            {% endif %}

        </div>
    </div>

{% endblock %}
