<form action="" method="POST" id="pay_form"/>
	<input type="hidden" name="key" value=""/>
	<input type="hidden" name="payment" value=""/>
	<input type="hidden" name="order" value=""/>
	<input type="hidden" name="data" value=""/>
	<input type="hidden" name="ext1" value=""/>
	<input type="hidden" name="url" value="{{ route('pay_success') }}"/>
	<input type="hidden" name="error_url" value="{{ route('pay_fail') }}"/>
	<input type="hidden" name="sign" value=""/>
	<input type="hidden" name="lang" value="{{ config('app.locale') }}"/>
</form>

