{% extends 'admin::layout' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h3>№{{ order.order_number }}</h3>
			<div class="card-box table-responsive table-article-list">
				<pre>{{ order.history|raw }}</pre>
            </div>
        </div>
    </div>

{% endblock %}
