{% extends 'admin::layout' %}

{% block content %}

    {% embed 'admin::emb.filter' %}
        {% block main %}
            <div class="form-group">
				<label class="col-sm-2 control-label">{{ trans('admin/order.number') }}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control input-sm" placeholder="" name="order_number" value="{{ filter.order_number }}">
				</div>
			</div>
			<div class="form-group">
                <label class="col-sm-2 control-label">{{ trans('admin/order.select_payed') }}</label>
                <div class="col-sm-10">
                    <select class="form-control" name="payed">
                        <option value="">{{ trans('admin::common.all') }}</option>
                        <option value="1" {% if filter.payed == 1 %}selected{% endif %}>{{ trans('admin/order.payed_yes') }}</option>
                        <option value="2" {% if filter.payed == 2 %}selected{% endif %}>{{ trans('admin/order.payed_no') }}</option>
                    </select>
                </div>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive table-article-list">
                {% if items|length %}
                    <table id="datatable" class="table table-striped table-bordered ent-table">
                        <thead>
                        <tr>
                            <!--th class="sortable" data-by="id">#</th-->
							<th>{{ trans('admin/order.number') }}</th>
							<th>{{ trans('admin/order.user') }}</th>
							<th>{{ trans('admin/order.package_name') }}</th>
							<th>{{ trans('admin/order.payed') }}</th>
                            <th>{{ trans('admin/order.payed_at') }}</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in items %}
                            <tr {{ item.payed ? 'class="success"' : '' }}>
                                <!--td>{{ item.id }}</td-->
								<td><a class="name-link" href="{{ route('admin/order_history', {id: item.id}) }}">{{ item.order_number }}</a></td>
								<td><a class="name-link" href="{{ route('admin::user_edit', {'id': item.user.id}) }}">{{ item.user.name }}</a></td>
								<td>{{ item.package_name }}</td>
								<td>{{ item.payed ? trans('admin/order.payed_yes') : trans('admin/order.payed_no')  }}</td>
                                <td>{{ item.payed_at ? item.payed_at|date('d-m-Y H:i:s') : '' }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    {{ trans('admin::common.empty') }}
                {% endif %}

                {% include 'admin::inc.pagination'  with {paginator: items} %}
            </div>

        </div>
    </div>

{% endblock %}
