{% extends 'layout_blog' %}

{% block content %}
<section class="blog">
    <div class="container">
    {% include 'blog.parts.main-posts' %}
    {% if data['posts'][14].id %}
        <div class="blog__row">
            <button id="main-more-post" class="btn__more-blog">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                    <path fill="#D83F34" fill-rule="evenodd" d="M5.977.179c4.3-1.024 8.874 2.499 9 6.897.333 3.98-3.04 7.76-7.036 7.9-3.984.34-7.795-3.021-7.925-7.009C-.224 4.28 2.307.973 5.976.179zm.577 3.58v2.815H3.738v1.874H6.55c.004.937.004 1.87.004 2.806h1.88V8.452c.94-.004 1.88-.004 2.825-.008l-.013-1.87H8.434c0-.94 0-1.877-.004-2.81-.62-.004-1.248-.004-1.876-.004z"/>
                </svg>
                Больше записей
            </button>
        </div>
    {% endif %}
    </div>
</section>
{% endblock %}