{% extends 'layout_blog' %}

{% block body_class%}blog-layout_post{% endblock %}

{% block content %}
    <div class="post">
        <section class="post__head">
            <span id="currentID" hidden="hidden">{{ currentID }}</span>
            <div class="container">
                <div class="post__head-content">
                    <div class="blog__post">
                        <div class="blog__post-image">
                            <img src="{{ post.imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-info">
                            <div class="blog__post-btn">
                                <a href="{{ route('blog_section', {section_name: post.sections[0].slug }) }}">{{ post.sections[0].title }}</a>
                            </div>
                            <div class="blog__post-text">
                                <h1>
                                    {{ post.title }}
                                </h1>
                            </div>

                            <div class="post__head-bottom">
                                <ul>
                                    <li>{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
                                        {{ post.date|date("j") }}
                                        {{ mnths[post.date|date("n")] }}
                                        {{ post.date|date("Y") }}
                                    </li>
                                    <li>
                                <span class="view">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                            <defs>
                                                <path id="a" d="M.003.033H25V16H.003z"/>
                                            </defs>
                                            <g fill="none" fill-rule="evenodd">
                                                <g>
                                                    <mask id="b" fill="#fff">
                                                        <use xlink:href="#a"/>
                                                    </mask>
                                                    <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                </g>
                                                <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="">{{ post.view_count }}</span>
                                </span>
                                    </li>
                                    <li>
                                <span class="social-count">
                                    <span>
                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                        </svg>
                                    </span>
                                    <span class="count">{{ post.share_twitter_count + post.share_facebook_count + post.share_vkontakte_count + post.share_telegram_count + post.share_pinterest_count}}</span>
                                </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="post__block">
            <div class="container">
                <div class="post__block-content">
                    <div class="widthbox">
                        <div class="content-text">
                            {{ post.content | raw  }}
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section class="post__bottom">
            <div class="container">
                <div class="post__bottom-soc">
                    <div class="likely likely_visible likely_ready">
                        <div class="twitter" page="{{ post.slug }}" social="twitter">Твитнуть</div>
                        <div class="facebook" page="{{ post.slug }}" social="facebook">Поделиться</div>
                        <div class="vkontakte" page="{{ post.slug }}" social="vkontakte">Поделиться</div>
                        <div class="telegram" page="{{ post.slug }}" social="telegram">Отправить</div>
                        <div class="pinterest" page="{{ post.slug }}" social="pinterest">Запинить</div>
                    </div>
                </div>
                <div class="post__bottom-banner">
                {% if banner.id %}
                    <div class="blog__row">
                        <div class="blog__banner-full">
                            <a href="{{ banner.link }}" target="_blank">
                                <span class="blog__banner-img">
                                    <img src="{{ banner.imageVerbose('image', 'list') }}" alt="banner" class="banner-full">
                                    <img src="{{ banner.imageVerbose('mobile_image', 'list') }}" alt="banner" class="banner-mobile">
                                </span>
                            </a>
                        </div>
                    </div>
                {% endif %}
                </div>

                <div class="post__bottom-title">
                    <h2>
                        Также подобрали для вас
                    </h2>
                </div>

                <div class="post__bottom-blog">
                    {% include 'blog.parts.post-most-view' %}
                {% if mostViews[4].id %}
                    <div class="post__row">
                        <button id="most-view-button" class="btn__more-blog">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                                    <path fill="#D83F34" fill-rule="evenodd" d="M5.977.179c4.3-1.024 8.874 2.499 9 6.897.333 3.98-3.04 7.76-7.036 7.9-3.984.34-7.795-3.021-7.925-7.009C-.224 4.28 2.307.973 5.976.179zm.577 3.58v2.815H3.738v1.874H6.55c.004.937.004 1.87.004 2.806h1.88V8.452c.94-.004 1.88-.004 2.825-.008l-.013-1.87H8.434c0-.94 0-1.877-.004-2.81-.62-.004-1.248-.004-1.876-.004z"/>
                                </svg>
                            Больше записей
                        </button>
                    </div>
                {% endif %}
                </div>

                <div class="post__bottom-comment">
                    <div class="post__comment">
                        <div class="fb-comments" data-href="{{ route('blog_post', {'section_name': section_name, 'post_name': post.slug}) }}" data-mobile="false" data-numposts="5" data-width="600px"></div>

                    </div>
                </div>
            </div>
        </section>
    </div>
<script>
    jQuery(document).ready(function() {
        socialAction();
    });
</script>
{% endblock %}