{% extends 'layout_blog' %}

{% block content %}
    <section class="blog__search">
        <div class="container">
            <div class="search__form">
                <form action="{{route('search_post')}}" method="get">
                    <button type="submit" class="submitSearch">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28" height="29" viewBox="0 0 28 29">
                            <defs>
                                <path id="a" d="M0 0h28v29H0z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <mask id="b" fill="#fff">
                                    <use xlink:href="#a"/>
                                </mask>
                                <path fill="#FFF" d="M19.448 18.931a11.289 11.289 0 0 0 2.996-7.654C22.444 5.069 17.417 0 11.222 0 5.027 0 0 5.069 0 11.277c0 6.208 5.027 11.277 11.222 11.277 2.522 0 4.84-.834 6.72-2.245l8.344 8.385a1 1 0 0 0 .711.306.973.973 0 0 0 .711-.306c.39-.391.39-1.038 0-1.446l-8.26-8.317zM2.031 11.277c0-5.086 4.113-9.236 9.191-9.236 5.061 0 9.19 4.133 9.19 9.236 0 5.103-4.112 9.236-9.19 9.236-5.078 0-9.19-4.15-9.19-9.236z" mask="url(#b)"/>
                            </g>
                        </svg>
                    </button>
                    <input name="search" placeholder="Поиск..." type="search" class="searchInput" id="search-page-input" value="{{ search }}">
                    <button id="close-search" class="btn-reset" type="reset">

                    </button>
                </form>
            </div>
            <div class="title__result">
                 {% if result is empty %}
                     <h2>По вашему запросу ничего не найдено</h2>
                 {% else %}
                <h2>Результаты поиска по запросу «{{ search }}»</h2>
                 {% endif %}
            </div>
            {% include 'blog.parts.search-posts' %}


        </div>
    </section>
{% endblock %}