{% extends 'layout_blog' %}

{% block content %}
    <section class="blog">
        <div class="section">
            <div class="side-main content-wrapper">
                <div class="container">
                    <h2>{{ section.title }}</h2>
                    <div class="blog__row post">
                        {% include 'blog.parts.section-row' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}