{% if packages and (not authUser or (authUser and is_not_payed)) %}
<section id="section-packages" class="packages {% block packages_class%}{% endblock %}">
	<h2 class="packages__title content-title">Выберите свой формат</h2>
	<div class="packages__list">
		{% if packages.cheap %}
		<div class="packages__list-item animate-el fadeInUp" data-wow-delay="0.1s">
			<div class="package-box solded">
				<div class="sold">
					<div class="package-box__header">
						<div class="package-box__title">Пакет</div>
						<div class="package-box__label">{{ packages.cheap.name }}</div>
					</div>
					<div class="package-box__text">
						<p>видеокурс ПАПА БРЕНДА с доступом на 6 месяцев</p>
						<p>дополнительные материалы (PDF)</p>
						<p>сертификат о прохождении курса</p>
					</div>
					<div class="package-box__footer">
						<div class="package-box__price__container">
							{#<div class="package-box__price__old">$200</div>#}
							<div class="package-box__price">$200</div>
							{#<div class="package-box__price">${{ packages.cheap.price|number_format(0, '.', ' ') }}</div>#}
						</div>
						{% if episode_count and is_not_payed %}
							{% if is_cabinet %}
								<a class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="{{ route('video_pay', {'package': packages.cheap.code }) }}">Купить</a>
							{% else %}
								<a course-all="{{ packages.cheap.code }}" id="package_{{ packages.cheap.code }}" class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="#{{ authUser ? 'modal-buy-course-second-step' : 'modal-buy-course' }}" data-toggle="modal">Купить</a>
							{% endif %}
						{% endif %}
						{% if not is_cabinet %}
							{% if not authUser %}
								<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="#modal-registration" data-toggle="modal">Бесплатный урок</a>
							{% elseif authUser and is_not_payed %}
								<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="{{ route('video_list') }}">Бесплатный урок</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="sold-image">
					<svg xmlns="http://www.w3.org/2000/svg" width="313" height="187" viewBox="0 0 313 187" fill="none">
						<mask id="path-1-inside-1" fill="white">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M283.764 24.4408L11.6612 97.3504L29.9377 165.559L302.04 92.6496L283.764 24.4408ZM5.53748 93.8149L26.4021 171.683L308.164 96.1851L287.299 18.3171L5.53748 93.8149Z"/>
						</mask>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M283.764 24.4408L11.6612 97.3504L29.9377 165.559L302.04 92.6496L283.764 24.4408ZM5.53748 93.8149L26.4021 171.683L308.164 96.1851L287.299 18.3171L5.53748 93.8149Z" fill="#F2253E"/>
						<path d="M11.6612 97.3504L10.3671 92.5208L5.53748 93.8149L6.83157 98.6445L11.6612 97.3504ZM283.764 24.4408L288.593 23.1467L287.299 18.3171L282.47 19.6112L283.764 24.4408ZM29.9377 165.559L25.1081 166.853L26.4021 171.683L31.2318 170.389L29.9377 165.559ZM302.04 92.6496L303.334 97.4792L308.164 96.1851L306.87 91.3555L302.04 92.6496ZM5.53748 93.8149L4.24338 88.9853L-0.586249 90.2794L0.707847 95.109L5.53748 93.8149ZM26.4021 171.683L21.5725 172.977L22.8666 177.807L27.6962 176.513L26.4021 171.683ZM308.164 96.1851L309.458 101.015L314.288 99.7206L312.993 94.891L308.164 96.1851ZM287.299 18.3171L292.129 17.023L290.835 12.1934L286.005 13.4875L287.299 18.3171ZM12.9553 102.18L285.058 29.2705L282.47 19.6112L10.3671 92.5208L12.9553 102.18ZM34.7673 164.265L16.4908 96.0563L6.83157 98.6445L25.1081 166.853L34.7673 164.265ZM300.746 87.8199L28.6436 160.73L31.2318 170.389L303.334 97.4792L300.746 87.8199ZM278.934 25.7349L297.21 93.9437L306.87 91.3555L288.593 23.1467L278.934 25.7349ZM6.83157 98.6445L288.593 23.1467L286.005 13.4875L4.24338 88.9853L6.83157 98.6445ZM31.2318 170.389L10.3671 92.5208L0.707847 95.109L21.5725 172.977L31.2318 170.389ZM306.87 91.3555L25.1081 166.853L27.6962 176.513L309.458 101.015L306.87 91.3555ZM282.47 19.6112L303.334 97.4792L312.993 94.891L292.129 17.023L282.47 19.6112Z" fill="#F2253E" mask="url(#path-1-inside-1)"/>
						<path d="M82.7632 103.459L80.0444 108.474C79.3899 107.979 78.5925 107.646 77.6524 107.475C76.7354 107.298 75.8828 107.316 75.0946 107.527C74.1673 107.775 73.4087 108.19 72.8189 108.77C72.246 109.321 72.0775 110.037 72.3136 110.918C72.4192 111.312 72.5935 111.638 72.8365 111.896C73.0733 112.131 73.4083 112.314 73.8413 112.447C74.2913 112.55 74.7235 112.633 75.1379 112.696C75.5461 112.736 76.1259 112.766 76.8772 112.789C77.8621 112.848 78.6344 112.902 79.1941 112.951C79.7538 112.999 80.4867 113.138 81.3929 113.368C82.3161 113.568 83.0601 113.84 83.6248 114.186C84.1895 114.532 84.7513 115.052 85.3102 115.747C85.8629 116.419 86.2635 117.218 86.512 118.146C87.2263 120.812 86.8573 123.097 85.4048 125.002C83.9693 126.877 81.9301 128.169 79.2873 128.877C77.5023 129.355 75.703 129.502 73.8893 129.317C72.0757 129.132 70.4866 128.626 69.122 127.799L71.9544 122.792C72.7622 123.395 73.7181 123.81 74.8222 124.036C75.9495 124.256 76.9999 124.235 77.9736 123.974C78.9704 123.707 79.7259 123.281 80.24 122.696C80.7711 122.082 80.9124 121.311 80.6639 120.384C80.5645 120.013 80.3848 119.713 80.1248 119.484C79.8818 119.227 79.6311 119.033 79.3728 118.903C79.1082 118.75 78.6783 118.63 78.083 118.541C77.4877 118.452 76.9891 118.399 76.5871 118.382C76.1789 118.343 75.5203 118.296 74.6112 118.241C73.6263 118.182 72.7658 118.077 72.0298 117.926C71.2937 117.776 70.5297 117.521 69.7377 117.162C68.9458 116.802 68.2672 116.264 67.7021 115.545C67.1369 114.827 66.7115 113.935 66.4257 112.869C66.0779 111.57 66.0455 110.337 66.3286 109.168C66.6054 107.975 67.1298 106.965 67.9018 106.137C68.6676 105.286 69.5549 104.564 70.5637 103.97C71.5957 103.371 72.7029 102.913 73.8852 102.596C75.3225 102.211 76.8312 102.092 78.4113 102.24C80.0085 102.359 81.4591 102.765 82.7632 103.459Z" fill="#F2253E"/>
						<path d="M114.803 105.385C115.84 109.256 115.421 112.747 113.547 115.859C111.666 118.947 108.778 121.012 104.884 122.056C101.012 123.093 97.49 122.745 94.3171 121.011C91.138 119.254 89.0298 116.44 87.9925 112.568C86.9489 108.674 87.3653 105.22 89.2416 102.208C91.1411 99.1897 94.0381 97.1586 97.9327 96.1151C101.851 95.0653 105.375 95.3757 108.506 97.0462C111.66 98.7106 113.759 101.49 114.803 105.385ZM108.439 107.09C107.855 104.911 106.713 103.291 105.013 102.231C103.313 101.171 101.431 100.917 99.3676 101.47C97.3044 102.023 95.8016 103.184 94.8591 104.952C93.9398 106.714 93.7721 108.684 94.356 110.863C94.9523 113.089 96.0921 114.746 97.7755 115.836C99.482 116.919 101.367 117.184 103.43 116.631C105.493 116.079 106.993 114.906 107.929 113.115C108.866 111.324 109.036 109.315 108.439 107.09Z" fill="#F2253E"/>
						<path d="M137.553 112.594L122.044 116.75L115.447 92.1302L121.428 90.5276L126.637 109.966L136.165 107.413L137.553 112.594Z" fill="#F2253E"/>
						<path d="M160.016 93.3071C160.575 95.3935 160.678 97.3537 160.324 99.1877C159.971 101.022 159.252 102.606 158.169 103.939C157.108 105.267 155.843 106.389 154.374 107.304C152.905 108.22 151.29 108.913 149.528 109.385L140.348 111.845L133.751 87.2258L142.653 84.8405C144.113 84.4492 145.527 84.2071 146.893 84.1142C148.277 83.992 149.664 84.0676 151.054 84.3412C152.444 84.6147 153.701 85.0855 154.824 85.7535C155.97 86.4154 157.002 87.3935 157.921 88.6879C158.833 89.9592 159.531 91.4989 160.016 93.3071ZM153.826 94.9657C153.472 93.6443 152.947 92.5673 152.252 91.7349C151.551 90.8793 150.735 90.2905 149.804 89.9685C148.896 89.6402 147.947 89.4845 146.958 89.5011C145.991 89.5115 144.964 89.6627 143.874 89.9547L140.918 90.7467L144.776 105.143L147.592 104.388C149.98 103.748 151.787 102.655 153.013 101.11C154.238 99.5637 154.509 97.5157 153.826 94.9657Z" fill="#F2253E"/>
						<path d="M198.306 83.01C199.344 86.8814 198.925 90.3727 197.05 93.4839C195.169 96.5719 192.282 98.6377 188.387 99.6813C184.516 100.719 180.994 100.37 177.821 98.6365C174.642 96.8794 172.533 94.0652 171.496 90.1937C170.452 86.2991 170.869 82.8457 172.745 79.8334C174.645 76.8149 177.542 74.7839 181.436 73.7404C185.354 72.6906 188.878 73.001 192.01 74.6715C195.164 76.3359 197.263 79.1153 198.306 83.01ZM191.943 84.7151C191.359 82.5359 190.217 80.9163 188.516 79.8563C186.816 78.7962 184.934 78.5426 182.871 79.0955C180.808 79.6483 179.305 80.8088 178.363 82.577C177.443 84.339 177.276 86.3095 177.86 88.4886C178.456 90.7141 179.596 92.3716 181.279 93.461C182.986 94.5443 184.87 94.8095 186.934 94.2566C188.997 93.7038 190.497 92.5317 191.433 90.7403C192.369 88.949 192.539 86.9405 191.943 84.7151Z" fill="#F2253E"/>
						<path d="M223.924 79.5C224.719 82.4674 224.388 85.1276 222.932 87.4808C221.498 89.8278 219.182 91.4298 215.983 92.2871C212.784 93.1443 209.991 92.9234 207.606 91.6246C205.214 90.3025 203.618 88.1463 202.816 85.1558L198.707 69.8207L204.619 68.2368L208.597 83.085C208.989 84.5454 209.697 85.66 210.723 86.4287C211.743 87.1742 213.029 87.3388 214.583 86.9226C216.159 86.5002 217.191 85.7144 217.678 84.5652C218.182 83.3865 218.238 82.067 217.847 80.6065L213.869 65.7583L219.815 64.165L223.924 79.5Z" fill="#F2253E"/>
						<path d="M243.475 63.2668L236.52 65.1303L241.756 84.6729L235.81 86.2662L230.574 66.7236L223.619 68.5871L222.259 63.5102L242.114 58.1899L243.475 63.2668Z" fill="#F2253E"/>
					</svg>
				</div>
			</div>
		</div>
		{% endif %}
		{% if packages.good %}
		<div class="packages__list-item animate-el fadeInUp" data-wow-delay="0.2s">
			<div class="package-box solded">
				<div class="sold">
					<div class="package-box__header">
						<div class="package-box__title">Пакет</div>
						<div class="package-box__label">{{ packages.good.name }}</div>
					</div>
					<div class="package-box__text">
						<p>видеокурс ПАПА БРЕНДА</p>
						<p>дополнительные материалы (PDF)</p>
						<p>закрытая группа в Facebook (поддержка, ответы на вопросы консультанта по брендингу)
						</p>
						<p>раз в месяц (12 раз за год) - часовой live от Андрея Федорива</p>
						<p>сертификат о прохождении курса</p>
					</div>
					<div class="package-box__footer">
						<div class="package-box__price__container">
							<div class="package-box__price">${{ packages.good.price|number_format(0, '.', ' ') }}</div>
						</div>
						{% if episode_count and is_not_payed %}
							{% if is_cabinet %}
								<a class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="{{ route('video_pay', {'package': packages.good.code }) }}">Купить</a>
							{% else %}
								<a course-all="{{ packages.good.code }}" id="package_{{ packages.good.code }}" class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="#{{ authUser ? 'modal-buy-course-second-step' : 'modal-buy-course' }}" data-toggle="modal" disabled="disabled">Купить</a>
							{% endif %}
						{% endif %}
						{% if not is_cabinet %}
							{% if not authUser %}
								<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="#modal-registration" data-toggle="modal" disabled="disabled">Бесплатный урок</a>
							{% elseif authUser and is_not_payed %}
								<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="{{ route('video_list') }}" disabled="disabled">Бесплатный урок</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="sold-image">
					<svg xmlns="http://www.w3.org/2000/svg" width="313" height="187" viewBox="0 0 313 187" fill="none">
						<mask id="path-1-inside-1" fill="white">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M283.764 24.4408L11.6612 97.3504L29.9377 165.559L302.04 92.6496L283.764 24.4408ZM5.53748 93.8149L26.4021 171.683L308.164 96.1851L287.299 18.3171L5.53748 93.8149Z"/>
						</mask>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M283.764 24.4408L11.6612 97.3504L29.9377 165.559L302.04 92.6496L283.764 24.4408ZM5.53748 93.8149L26.4021 171.683L308.164 96.1851L287.299 18.3171L5.53748 93.8149Z" fill="#F2253E"/>
						<path d="M11.6612 97.3504L10.3671 92.5208L5.53748 93.8149L6.83157 98.6445L11.6612 97.3504ZM283.764 24.4408L288.593 23.1467L287.299 18.3171L282.47 19.6112L283.764 24.4408ZM29.9377 165.559L25.1081 166.853L26.4021 171.683L31.2318 170.389L29.9377 165.559ZM302.04 92.6496L303.334 97.4792L308.164 96.1851L306.87 91.3555L302.04 92.6496ZM5.53748 93.8149L4.24338 88.9853L-0.586249 90.2794L0.707847 95.109L5.53748 93.8149ZM26.4021 171.683L21.5725 172.977L22.8666 177.807L27.6962 176.513L26.4021 171.683ZM308.164 96.1851L309.458 101.015L314.288 99.7206L312.993 94.891L308.164 96.1851ZM287.299 18.3171L292.129 17.023L290.835 12.1934L286.005 13.4875L287.299 18.3171ZM12.9553 102.18L285.058 29.2705L282.47 19.6112L10.3671 92.5208L12.9553 102.18ZM34.7673 164.265L16.4908 96.0563L6.83157 98.6445L25.1081 166.853L34.7673 164.265ZM300.746 87.8199L28.6436 160.73L31.2318 170.389L303.334 97.4792L300.746 87.8199ZM278.934 25.7349L297.21 93.9437L306.87 91.3555L288.593 23.1467L278.934 25.7349ZM6.83157 98.6445L288.593 23.1467L286.005 13.4875L4.24338 88.9853L6.83157 98.6445ZM31.2318 170.389L10.3671 92.5208L0.707847 95.109L21.5725 172.977L31.2318 170.389ZM306.87 91.3555L25.1081 166.853L27.6962 176.513L309.458 101.015L306.87 91.3555ZM282.47 19.6112L303.334 97.4792L312.993 94.891L292.129 17.023L282.47 19.6112Z" fill="#F2253E" mask="url(#path-1-inside-1)"/>
						<path d="M82.7632 103.459L80.0444 108.474C79.3899 107.979 78.5925 107.646 77.6524 107.475C76.7354 107.298 75.8828 107.316 75.0946 107.527C74.1673 107.775 73.4087 108.19 72.8189 108.77C72.246 109.321 72.0775 110.037 72.3136 110.918C72.4192 111.312 72.5935 111.638 72.8365 111.896C73.0733 112.131 73.4083 112.314 73.8413 112.447C74.2913 112.55 74.7235 112.633 75.1379 112.696C75.5461 112.736 76.1259 112.766 76.8772 112.789C77.8621 112.848 78.6344 112.902 79.1941 112.951C79.7538 112.999 80.4867 113.138 81.3929 113.368C82.3161 113.568 83.0601 113.84 83.6248 114.186C84.1895 114.532 84.7513 115.052 85.3102 115.747C85.8629 116.419 86.2635 117.218 86.512 118.146C87.2263 120.812 86.8573 123.097 85.4048 125.002C83.9693 126.877 81.9301 128.169 79.2873 128.877C77.5023 129.355 75.703 129.502 73.8893 129.317C72.0757 129.132 70.4866 128.626 69.122 127.799L71.9544 122.792C72.7622 123.395 73.7181 123.81 74.8222 124.036C75.9495 124.256 76.9999 124.235 77.9736 123.974C78.9704 123.707 79.7259 123.281 80.24 122.696C80.7711 122.082 80.9124 121.311 80.6639 120.384C80.5645 120.013 80.3848 119.713 80.1248 119.484C79.8818 119.227 79.6311 119.033 79.3728 118.903C79.1082 118.75 78.6783 118.63 78.083 118.541C77.4877 118.452 76.9891 118.399 76.5871 118.382C76.1789 118.343 75.5203 118.296 74.6112 118.241C73.6263 118.182 72.7658 118.077 72.0298 117.926C71.2937 117.776 70.5297 117.521 69.7377 117.162C68.9458 116.802 68.2672 116.264 67.7021 115.545C67.1369 114.827 66.7115 113.935 66.4257 112.869C66.0779 111.57 66.0455 110.337 66.3286 109.168C66.6054 107.975 67.1298 106.965 67.9018 106.137C68.6676 105.286 69.5549 104.564 70.5637 103.97C71.5957 103.371 72.7029 102.913 73.8852 102.596C75.3225 102.211 76.8312 102.092 78.4113 102.24C80.0085 102.359 81.4591 102.765 82.7632 103.459Z" fill="#F2253E"/>
						<path d="M114.803 105.385C115.84 109.256 115.421 112.747 113.547 115.859C111.666 118.947 108.778 121.012 104.884 122.056C101.012 123.093 97.49 122.745 94.3171 121.011C91.138 119.254 89.0298 116.44 87.9925 112.568C86.9489 108.674 87.3653 105.22 89.2416 102.208C91.1411 99.1897 94.0381 97.1586 97.9327 96.1151C101.851 95.0653 105.375 95.3757 108.506 97.0462C111.66 98.7106 113.759 101.49 114.803 105.385ZM108.439 107.09C107.855 104.911 106.713 103.291 105.013 102.231C103.313 101.171 101.431 100.917 99.3676 101.47C97.3044 102.023 95.8016 103.184 94.8591 104.952C93.9398 106.714 93.7721 108.684 94.356 110.863C94.9523 113.089 96.0921 114.746 97.7755 115.836C99.482 116.919 101.367 117.184 103.43 116.631C105.493 116.079 106.993 114.906 107.929 113.115C108.866 111.324 109.036 109.315 108.439 107.09Z" fill="#F2253E"/>
						<path d="M137.553 112.594L122.044 116.75L115.447 92.1302L121.428 90.5276L126.637 109.966L136.165 107.413L137.553 112.594Z" fill="#F2253E"/>
						<path d="M160.016 93.3071C160.575 95.3935 160.678 97.3537 160.324 99.1877C159.971 101.022 159.252 102.606 158.169 103.939C157.108 105.267 155.843 106.389 154.374 107.304C152.905 108.22 151.29 108.913 149.528 109.385L140.348 111.845L133.751 87.2258L142.653 84.8405C144.113 84.4492 145.527 84.2071 146.893 84.1142C148.277 83.992 149.664 84.0676 151.054 84.3412C152.444 84.6147 153.701 85.0855 154.824 85.7535C155.97 86.4154 157.002 87.3935 157.921 88.6879C158.833 89.9592 159.531 91.4989 160.016 93.3071ZM153.826 94.9657C153.472 93.6443 152.947 92.5673 152.252 91.7349C151.551 90.8793 150.735 90.2905 149.804 89.9685C148.896 89.6402 147.947 89.4845 146.958 89.5011C145.991 89.5115 144.964 89.6627 143.874 89.9547L140.918 90.7467L144.776 105.143L147.592 104.388C149.98 103.748 151.787 102.655 153.013 101.11C154.238 99.5637 154.509 97.5157 153.826 94.9657Z" fill="#F2253E"/>
						<path d="M198.306 83.01C199.344 86.8814 198.925 90.3727 197.05 93.4839C195.169 96.5719 192.282 98.6377 188.387 99.6813C184.516 100.719 180.994 100.37 177.821 98.6365C174.642 96.8794 172.533 94.0652 171.496 90.1937C170.452 86.2991 170.869 82.8457 172.745 79.8334C174.645 76.8149 177.542 74.7839 181.436 73.7404C185.354 72.6906 188.878 73.001 192.01 74.6715C195.164 76.3359 197.263 79.1153 198.306 83.01ZM191.943 84.7151C191.359 82.5359 190.217 80.9163 188.516 79.8563C186.816 78.7962 184.934 78.5426 182.871 79.0955C180.808 79.6483 179.305 80.8088 178.363 82.577C177.443 84.339 177.276 86.3095 177.86 88.4886C178.456 90.7141 179.596 92.3716 181.279 93.461C182.986 94.5443 184.87 94.8095 186.934 94.2566C188.997 93.7038 190.497 92.5317 191.433 90.7403C192.369 88.949 192.539 86.9405 191.943 84.7151Z" fill="#F2253E"/>
						<path d="M223.924 79.5C224.719 82.4674 224.388 85.1276 222.932 87.4808C221.498 89.8278 219.182 91.4298 215.983 92.2871C212.784 93.1443 209.991 92.9234 207.606 91.6246C205.214 90.3025 203.618 88.1463 202.816 85.1558L198.707 69.8207L204.619 68.2368L208.597 83.085C208.989 84.5454 209.697 85.66 210.723 86.4287C211.743 87.1742 213.029 87.3388 214.583 86.9226C216.159 86.5002 217.191 85.7144 217.678 84.5652C218.182 83.3865 218.238 82.067 217.847 80.6065L213.869 65.7583L219.815 64.165L223.924 79.5Z" fill="#F2253E"/>
						<path d="M243.475 63.2668L236.52 65.1303L241.756 84.6729L235.81 86.2662L230.574 66.7236L223.619 68.5871L222.259 63.5102L242.114 58.1899L243.475 63.2668Z" fill="#F2253E"/>
					</svg>
				</div>
			</div>
		</div>
		{% endif %}
		{% if packages.premium %}
		<div class="packages__list-item animate-el fadeInUp" data-wow-delay="0.3s">
			<div class="package-box solded">
				<div class="sold">
					<div class="package-box__header">
						<div class="package-box__title">Пакет</div>
						<div class="package-box__label">{{ packages.premium.name }}</div>
					</div>
					<div class="package-box__text">
						<p>видеокурс ПАПА БРЕНДА</p>
						<p>дополнительные материалы (PDF)</p>
						<p>закрытая группа в Facebook (поддержка, ответы на вопросы консультанта по брендингу)</p>
						<p>раз в месяц (12 раз за год) - часовой live от Андрея Федорива</p>
						<p>Двухчасовая Skype-консультация от Андрея Федорива (если в Киеве, возможна личная встреча)</p>
						<p>сертификат о прохождении курса</p>
					</div>
					<div class="package-box__footer">
						<div class="package-box__price__container">
							<div class="package-box__price">${{ packages.premium.price|number_format(0, '.', ' ') }}</div>
						</div>
						{% if episode_count and is_not_payed %}
							{% if is_cabinet %}
								<a class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="{{ route('video_pay', {'package': packages.premium.code }) }}">Купить</a>
							{% else %}
								<a course-all="{{ packages.premium.code }}" id="package_{{ packages.premium.code }}" class="package-box__button package-box__button_buy btn btn-bordered btn-bordered-grey" href="#{{ authUser ? 'modal-buy-course-second-step' : 'modal-buy-course' }}" data-toggle="modal" disabled="disabled">Купить</a>
							{% endif %}
						{% endif %}
						{% if not is_cabinet %}
							{% if not authUser %}
								<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="#modal-registration" data-toggle="modal" disabled="disabled">Бесплатный урок</a>
							{% elseif authUser and is_not_payed %}
								<a class="package-box__button package-box__button_play btn btn-bordered btn-bordered-grey btn-bordered-watch" href="{{ route('video_list') }} " disabled="disabled">Бесплатный урок</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="sold-image">
					<svg xmlns="http://www.w3.org/2000/svg" width="313" height="187" viewBox="0 0 313 187" fill="none">
						<mask id="path-1-inside-1" fill="white">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M283.764 24.4408L11.6612 97.3504L29.9377 165.559L302.04 92.6496L283.764 24.4408ZM5.53748 93.8149L26.4021 171.683L308.164 96.1851L287.299 18.3171L5.53748 93.8149Z"/>
						</mask>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M283.764 24.4408L11.6612 97.3504L29.9377 165.559L302.04 92.6496L283.764 24.4408ZM5.53748 93.8149L26.4021 171.683L308.164 96.1851L287.299 18.3171L5.53748 93.8149Z" fill="#F2253E"/>
						<path d="M11.6612 97.3504L10.3671 92.5208L5.53748 93.8149L6.83157 98.6445L11.6612 97.3504ZM283.764 24.4408L288.593 23.1467L287.299 18.3171L282.47 19.6112L283.764 24.4408ZM29.9377 165.559L25.1081 166.853L26.4021 171.683L31.2318 170.389L29.9377 165.559ZM302.04 92.6496L303.334 97.4792L308.164 96.1851L306.87 91.3555L302.04 92.6496ZM5.53748 93.8149L4.24338 88.9853L-0.586249 90.2794L0.707847 95.109L5.53748 93.8149ZM26.4021 171.683L21.5725 172.977L22.8666 177.807L27.6962 176.513L26.4021 171.683ZM308.164 96.1851L309.458 101.015L314.288 99.7206L312.993 94.891L308.164 96.1851ZM287.299 18.3171L292.129 17.023L290.835 12.1934L286.005 13.4875L287.299 18.3171ZM12.9553 102.18L285.058 29.2705L282.47 19.6112L10.3671 92.5208L12.9553 102.18ZM34.7673 164.265L16.4908 96.0563L6.83157 98.6445L25.1081 166.853L34.7673 164.265ZM300.746 87.8199L28.6436 160.73L31.2318 170.389L303.334 97.4792L300.746 87.8199ZM278.934 25.7349L297.21 93.9437L306.87 91.3555L288.593 23.1467L278.934 25.7349ZM6.83157 98.6445L288.593 23.1467L286.005 13.4875L4.24338 88.9853L6.83157 98.6445ZM31.2318 170.389L10.3671 92.5208L0.707847 95.109L21.5725 172.977L31.2318 170.389ZM306.87 91.3555L25.1081 166.853L27.6962 176.513L309.458 101.015L306.87 91.3555ZM282.47 19.6112L303.334 97.4792L312.993 94.891L292.129 17.023L282.47 19.6112Z" fill="#F2253E" mask="url(#path-1-inside-1)"/>
						<path d="M82.7632 103.459L80.0444 108.474C79.3899 107.979 78.5925 107.646 77.6524 107.475C76.7354 107.298 75.8828 107.316 75.0946 107.527C74.1673 107.775 73.4087 108.19 72.8189 108.77C72.246 109.321 72.0775 110.037 72.3136 110.918C72.4192 111.312 72.5935 111.638 72.8365 111.896C73.0733 112.131 73.4083 112.314 73.8413 112.447C74.2913 112.55 74.7235 112.633 75.1379 112.696C75.5461 112.736 76.1259 112.766 76.8772 112.789C77.8621 112.848 78.6344 112.902 79.1941 112.951C79.7538 112.999 80.4867 113.138 81.3929 113.368C82.3161 113.568 83.0601 113.84 83.6248 114.186C84.1895 114.532 84.7513 115.052 85.3102 115.747C85.8629 116.419 86.2635 117.218 86.512 118.146C87.2263 120.812 86.8573 123.097 85.4048 125.002C83.9693 126.877 81.9301 128.169 79.2873 128.877C77.5023 129.355 75.703 129.502 73.8893 129.317C72.0757 129.132 70.4866 128.626 69.122 127.799L71.9544 122.792C72.7622 123.395 73.7181 123.81 74.8222 124.036C75.9495 124.256 76.9999 124.235 77.9736 123.974C78.9704 123.707 79.7259 123.281 80.24 122.696C80.7711 122.082 80.9124 121.311 80.6639 120.384C80.5645 120.013 80.3848 119.713 80.1248 119.484C79.8818 119.227 79.6311 119.033 79.3728 118.903C79.1082 118.75 78.6783 118.63 78.083 118.541C77.4877 118.452 76.9891 118.399 76.5871 118.382C76.1789 118.343 75.5203 118.296 74.6112 118.241C73.6263 118.182 72.7658 118.077 72.0298 117.926C71.2937 117.776 70.5297 117.521 69.7377 117.162C68.9458 116.802 68.2672 116.264 67.7021 115.545C67.1369 114.827 66.7115 113.935 66.4257 112.869C66.0779 111.57 66.0455 110.337 66.3286 109.168C66.6054 107.975 67.1298 106.965 67.9018 106.137C68.6676 105.286 69.5549 104.564 70.5637 103.97C71.5957 103.371 72.7029 102.913 73.8852 102.596C75.3225 102.211 76.8312 102.092 78.4113 102.24C80.0085 102.359 81.4591 102.765 82.7632 103.459Z" fill="#F2253E"/>
						<path d="M114.803 105.385C115.84 109.256 115.421 112.747 113.547 115.859C111.666 118.947 108.778 121.012 104.884 122.056C101.012 123.093 97.49 122.745 94.3171 121.011C91.138 119.254 89.0298 116.44 87.9925 112.568C86.9489 108.674 87.3653 105.22 89.2416 102.208C91.1411 99.1897 94.0381 97.1586 97.9327 96.1151C101.851 95.0653 105.375 95.3757 108.506 97.0462C111.66 98.7106 113.759 101.49 114.803 105.385ZM108.439 107.09C107.855 104.911 106.713 103.291 105.013 102.231C103.313 101.171 101.431 100.917 99.3676 101.47C97.3044 102.023 95.8016 103.184 94.8591 104.952C93.9398 106.714 93.7721 108.684 94.356 110.863C94.9523 113.089 96.0921 114.746 97.7755 115.836C99.482 116.919 101.367 117.184 103.43 116.631C105.493 116.079 106.993 114.906 107.929 113.115C108.866 111.324 109.036 109.315 108.439 107.09Z" fill="#F2253E"/>
						<path d="M137.553 112.594L122.044 116.75L115.447 92.1302L121.428 90.5276L126.637 109.966L136.165 107.413L137.553 112.594Z" fill="#F2253E"/>
						<path d="M160.016 93.3071C160.575 95.3935 160.678 97.3537 160.324 99.1877C159.971 101.022 159.252 102.606 158.169 103.939C157.108 105.267 155.843 106.389 154.374 107.304C152.905 108.22 151.29 108.913 149.528 109.385L140.348 111.845L133.751 87.2258L142.653 84.8405C144.113 84.4492 145.527 84.2071 146.893 84.1142C148.277 83.992 149.664 84.0676 151.054 84.3412C152.444 84.6147 153.701 85.0855 154.824 85.7535C155.97 86.4154 157.002 87.3935 157.921 88.6879C158.833 89.9592 159.531 91.4989 160.016 93.3071ZM153.826 94.9657C153.472 93.6443 152.947 92.5673 152.252 91.7349C151.551 90.8793 150.735 90.2905 149.804 89.9685C148.896 89.6402 147.947 89.4845 146.958 89.5011C145.991 89.5115 144.964 89.6627 143.874 89.9547L140.918 90.7467L144.776 105.143L147.592 104.388C149.98 103.748 151.787 102.655 153.013 101.11C154.238 99.5637 154.509 97.5157 153.826 94.9657Z" fill="#F2253E"/>
						<path d="M198.306 83.01C199.344 86.8814 198.925 90.3727 197.05 93.4839C195.169 96.5719 192.282 98.6377 188.387 99.6813C184.516 100.719 180.994 100.37 177.821 98.6365C174.642 96.8794 172.533 94.0652 171.496 90.1937C170.452 86.2991 170.869 82.8457 172.745 79.8334C174.645 76.8149 177.542 74.7839 181.436 73.7404C185.354 72.6906 188.878 73.001 192.01 74.6715C195.164 76.3359 197.263 79.1153 198.306 83.01ZM191.943 84.7151C191.359 82.5359 190.217 80.9163 188.516 79.8563C186.816 78.7962 184.934 78.5426 182.871 79.0955C180.808 79.6483 179.305 80.8088 178.363 82.577C177.443 84.339 177.276 86.3095 177.86 88.4886C178.456 90.7141 179.596 92.3716 181.279 93.461C182.986 94.5443 184.87 94.8095 186.934 94.2566C188.997 93.7038 190.497 92.5317 191.433 90.7403C192.369 88.949 192.539 86.9405 191.943 84.7151Z" fill="#F2253E"/>
						<path d="M223.924 79.5C224.719 82.4674 224.388 85.1276 222.932 87.4808C221.498 89.8278 219.182 91.4298 215.983 92.2871C212.784 93.1443 209.991 92.9234 207.606 91.6246C205.214 90.3025 203.618 88.1463 202.816 85.1558L198.707 69.8207L204.619 68.2368L208.597 83.085C208.989 84.5454 209.697 85.66 210.723 86.4287C211.743 87.1742 213.029 87.3388 214.583 86.9226C216.159 86.5002 217.191 85.7144 217.678 84.5652C218.182 83.3865 218.238 82.067 217.847 80.6065L213.869 65.7583L219.815 64.165L223.924 79.5Z" fill="#F2253E"/>
						<path d="M243.475 63.2668L236.52 65.1303L241.756 84.6729L235.81 86.2662L230.574 66.7236L223.619 68.5871L222.259 63.5102L242.114 58.1899L243.475 63.2668Z" fill="#F2253E"/>
					</svg>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="package__message_pay">Стоимость услуг не включает сборы банков и платежных систем. С вашей карты будет списана комиссия за проведение платежа в размере 2,3% от суммы.<br> В зависимости от валюты вашей карты, сумма списания может измениться ввиду конвертации валюты. <br> Обращаем ваше внимание, что все взаиморасчеты происходят в национальной валюте. </div>

</section>
{% endif %}
