<div class="side-main">
    <div class="blog__row">

        <div class="blog__column">
            {% if data['posts'][0].id %}
                <div class="blog__item blog__item-big main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][0].sections[0].slug, 'post_name': data['posts'][0].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][0].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][0].sections[0].slug }) }}">{{ data['posts'][0].sections[0].title }}</a>
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {section_name: data['posts'][0].sections[0].slug}) }}">{{ data['posts'][0].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': data['posts'][0].sections[0].slug, 'post_name': data['posts'][0].slug}) }}">
                                    <h2>{{ data['posts'][0].title }}</h2>
                                </a>
                            </div>
                        </div>
                        <div class="blog__item-count">
                                <span class="view">
                                    <span class="view-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                                    </span>
                                    <span class="">{{ data['posts'][0].view_count }}</span>
                                </span>
                                <span class="facebook-count">
                                    <span class="share-svg">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                                </svg>
                                    </span>
                                <span class="">{{ data['posts'][0].share_twitter_count + data['posts'][0].share_facebook_count + data['posts'][0].share_vkontakte_count + data['posts'][0].share_telegram_count + data['posts'][0].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>

        <div class="blog__column">
            {% if data['posts'][1].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][1].sections[0].slug, 'post_name': data['posts'][1].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][1].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][1].sections[0].slug }) }}">{{ data['posts'][1].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][1].sections[0].slug, 'post_name': data['posts'][1].slug}) }}">
                                {{ data['posts'][1].title }}
                            </a>
                        </div>
                        <div class="blog__item-count">
                                <span class="view">
                                    <span class="view-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                                    </span>
                                    <span class="">{{ data['posts'][1].view_count }}</span>
                                </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                        </svg>
                                </span>
                                <span class="">{{ data['posts'][1].share_twitter_count + data['posts'][1].share_facebook_count + data['posts'][1].share_vkontakte_count + data['posts'][1].share_telegram_count + data['posts'][1].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][2].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][2].sections[0].slug, 'post_name': data['posts'][2].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][2].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][2].sections[0].slug }) }}">{{ data['posts'][2].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][2].sections[0].slug, 'post_name': data['posts'][2].slug}) }}">
                                {{ data['posts'][2].title }}
                            </a>
                        </div>
                        <div class="blog__item-count">
                                <span class="view">
                                    <span class="view-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                                    </span>
                                    <span class="">{{ data['posts'][2].view_count }}</span>
                                </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][2].share_twitter_count + data['posts'][2].share_facebook_count + data['posts'][2].share_vkontakte_count + data['posts'][2].share_telegram_count + data['posts'][2].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][3].id %}
                <div class="blog__item blog__item-long main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][3].sections[0].slug, 'post_name': data['posts'][3].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][3].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][3].sections[0].slug }) }}">{{ data['posts'][3].sections[0].title }}</a>
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {id: data['posts'][3].sections[0].slug}) }}">{{ data['posts'][3].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': data['posts'][3].sections[0].slug, 'post_name': data['posts'][3].slug}) }}">
                                    <h2>{{ data['posts'][3].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][3].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                    <span class="share-svg">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                  </span>
                                <span class="">{{ data['posts'][3].share_twitter_count + data['posts'][3].share_facebook_count + data['posts'][3].share_vkontakte_count + data['posts'][3].share_telegram_count + data['posts'][3].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="blog__row">
        <div class="blog__column">
            {% if data['posts'][4].id %}
                <div class="blog__item blog__item-long main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][4].sections[0].slug, 'post_name': data['posts'][4].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][4].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][4].sections[0].slug }) }}">{{ data['posts'][4].sections[0].title }}</a>
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': data['posts'][4].sections[0].slug }) }}">{{ data['posts'][4].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': data['posts'][4].sections[0].slug, 'post_name': data['posts'][4].slug}) }}">
                                    <h2>{{ data['posts'][4].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][4].view_count }}</span>
                             </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                                </svg>
                                </span>
                                 <span class="">{{ data['posts'][4].share_twitter_count + data['posts'][4].share_facebook_count + data['posts'][4].share_vkontakte_count + data['posts'][4].share_telegram_count + data['posts'][4].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>

        <div class="blog__column">
            {% if data['posts'][5].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">

                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][5].sections[0].slug, 'post_name': data['posts'][5].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][5].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][5].sections[0].slug }) }}">{{ data['posts'][5].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][5].sections[0].slug, 'post_name': data['posts'][5].slug}) }}">
                                {{ data['posts'][5].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                              <span class="view">
                                    <span class="view-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                                    </span>
                                    <span class="">{{ data['posts'][5].view_count }}</span>
                              </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][5].share_twitter_count + data['posts'][5].share_facebook_count + data['posts'][5].share_vkontakte_count + data['posts'][5].share_telegram_count + data['posts'][5].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][6].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][6].sections[0].slug, 'post_name': data['posts'][6].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][6].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][6].sections[0].slug }) }}">{{ data['posts'][6].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][6].sections[0].slug, 'post_name': data['posts'][6].slug}) }}">
                                {{ data['posts'][6].title }}
                            </a>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][6].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][6].share_twitter_count + data['posts'][6].share_facebook_count + data['posts'][6].share_vkontakte_count + data['posts'][6].share_telegram_count + data['posts'][6].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="blog__row">
        {% if data['posts'][6].id %}
            {% if data['banner'][0].id %}
            <div class="blog__banner-full">
                <a href="{{ data['banner'][0].link }}" target="_blank">
                    <span class="blog__banner-img">
                        <img src="{{ data['banner'][0].imageVerbose('image', 'list') }}" alt="banner" class="banner-full">

                        <img src="{{ data['banner'][0].imageVerbose('mobile_image', 'list') }}" alt="banner" class="banner-mobile">
                    </span>
                </a>
            </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="blog__row">
        <div class="blog__column">
            {% if data['posts'][7].id %}
                <div class="blog__item blog__item-long main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][7].sections[0].slug, 'post_name': data['posts'][7].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][7].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][7].sections[0].slug }) }}">{{ data['posts'][7].sections[0].title }}</a>
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': data['posts'][7].sections[0].slug }) }}">{{ data['posts'][7].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': data['posts'][7].sections[0].slug, 'post_name': data['posts'][7].slug}) }}">
                                    <h2>{{ data['posts'][7].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                 <span class="">{{ data['posts'][7].view_count }}</span>
                             </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][7].share_twitter_count + data['posts'][7].share_facebook_count + data['posts'][7].share_vkontakte_count + data['posts'][7].share_telegram_count + data['posts'][7].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
        <div class="blog__column">
            {% if data['posts'][8].id %}
                <div class="blog__item blog__item-long main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][8].sections[0].slug, 'post_name': data['posts'][8].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][8].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][8].sections[0].slug }) }}">{{ data['posts'][8].sections[0].title }}</a>
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': data['posts'][8].sections[0].slug }) }}">{{ data['posts'][8].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': data['posts'][8].sections[0].slug, 'post_name': data['posts'][8].slug}) }}">
                                    <h2>{{ data['posts'][8].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                           <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ data['posts'][8].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                        </svg>
                                </span>
                                <span class="">{{ data['posts'][8].share_twitter_count + data['posts'][8].share_facebook_count + data['posts'][8].share_vkontakte_count + data['posts'][8].share_telegram_count + data['posts'][8].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="blog__row">
        <div class="blog__column">
            {% if data['posts'][9].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][9].sections[0].slug, 'post_name': data['posts'][9].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][9].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][9].sections[0].slug }) }}">{{ data['posts'][9].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][9].sections[0].slug, 'post_name': data['posts'][9].slug}) }}">
                                {{ data['posts'][9].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                          <span class="view">
                              <span class="view-svg">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                              </span>
                              <span class="">{{ data['posts'][9].view_count }}</span>
                          </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ data['posts'][9].share_twitter_count + data['posts'][9].share_facebook_count + data['posts'][9].share_vkontakte_count + data['posts'][9].share_telegram_count + data['posts'][9].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][10].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][10].sections[0].slug, 'post_name': data['posts'][10].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][10].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][10].sections[0].slug }) }}">{{ data['posts'][10].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][10].sections[0].slug, 'post_name': data['posts'][10].slug}) }}">
                                {{ data['posts'][10].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                              <span class="">{{ data['posts'][10].view_count }}</span>
                        </span>
                            <span class="facebook-count">
                            <span class="share-svg">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                        </svg>
                            </span>
                            <span class="">{{ data['posts'][10].share_twitter_count + data['posts'][10].share_facebook_count + data['posts'][10].share_vkontakte_count + data['posts'][10].share_telegram_count + data['posts'][10].share_pinterest_count}}</span>
                         </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][11].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][11].sections[0].slug, 'post_name': data['posts'][11].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][11].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][11].sections[0].slug }) }}">{{ data['posts'][11].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][11].sections[0].slug, 'post_name': data['posts'][11].slug}) }}">
                                {{ data['posts'][11].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ data['posts'][11].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                 <span class="">{{ data['posts'][11].share_twitter_count + data['posts'][11].share_facebook_count + data['posts'][11].share_vkontakte_count + data['posts'][11].share_telegram_count + data['posts'][11].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][12].id %}
                <div class="blog__item blog__item-small main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][12].sections[0].slug, 'post_name': data['posts'][12].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][12].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][12].sections[0].slug }) }}">{{ data['posts'][12].sections[0].title }}</a>
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][12].sections[0].slug, 'post_name': data['posts'][12].slug}) }}">
                                {{ data['posts'][12].title }}
                            </a>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ data['posts'][12].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                 <span class="">{{ data['posts'][12].share_twitter_count + data['posts'][12].share_facebook_count + data['posts'][12].share_vkontakte_count + data['posts'][12].share_telegram_count + data['posts'][12].share_pinterest_count}}</span>
                             </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
        <div class="blog__column">
            {% if data['posts'][13].id %}
                <div class="blog__item blog__item-big main-posts">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': data['posts'][13].sections[0].slug, 'post_name': data['posts'][13].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ data['posts'][13].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-cat">
                            <a href="{{ route('blog_section', {'section': data['posts'][13].sections[0].slug }) }}">{{ data['posts'][13].sections[0].title }}</a>
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': data['posts'][13].sections[0].slug }) }}">{{ data['posts'][13].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': data['posts'][13].sections[0].slug, 'post_name': data['posts'][13].slug}) }}">
                                    <h2>{{ data['posts'][13].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ data['posts'][13].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                  <span class="">{{ data['posts'][13].share_twitter_count + data['posts'][13].share_facebook_count + data['posts'][13].share_vkontakte_count + data['posts'][13].share_telegram_count + data['posts'][13].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if data['posts'][14].id %}
                <div class="main-posts">

                </div>
            {% endif %}
        </div>
    </div>
</div>

