<div class="post__row post">
        {% for i in 0..3 %}
        {% if i in [0, 2] %}
            <div class="blog__column">
        {% endif %}
            {% if mostViews[i].id %}
            <div class="blog__item blog__item-small">
                <article class="blog__post">
                    <div class="blog__post-img">
                        <a href="{{ route('blog_post', {'section_name': mostViews[i].sections[0].slug, 'post_name': mostViews[i].slug}) }}" class="blog__item-link"></a>
                        <img src="{{ mostViews[i].imageVerbose('image', 'list') }}" alt="alt">
                    </div>
                    <div class="blog__post-content">
                        <a href="{{ route('blog_post', {'section_name': mostViews[i].sections[0].slug, 'post_name': mostViews[i].slug}) }}">
                            {{ mostViews[i].title }}
                        </a>

                    </div>
                    <div class="blog__item-count">
                    <span class="view">
                            <span class="view-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                            <defs>
                                                <path id="a" d="M.003.033H25V16H.003z"/>
                                            </defs>
                                            <g fill="none" fill-rule="evenodd">
                                                <g>
                                                    <mask id="b" fill="#fff">
                                                        <use xlink:href="#a"/>
                                                    </mask>
                                                    <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                </g>
                                                <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                            </g>
                                        </svg>
                            </span>
                            <span class="">{{ mostViews[i].view_count }}</span>
                        </span>
                        <span class="facebook-count">
                        <span class="share-svg">
                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                    </svg>
                        </span>
                        <span class="">{{ mostViews[i].share_twitter_count + mostViews[i].share_facebook_count + mostViews[i].share_vkontakte_count + mostViews[i].share_telegram_count + mostViews[i].share_pinterest_count}}</span>
                    </span>
                    </div>
                </article>
            </div>
            {% endif %}
                {% if i in [1, 3] %}
                </div>
                {% endif %}
        {% endfor %}

        {% if mostViews[4].id %}
            <div class="blog__post-img" hidden="hidden">
            </div>
        {% endif %}

</div>