<div class="side-main">
    <div class="blog__row">
        <div class="blog__column">
            {% if result[0].id %}
                <div class="blog__item blog__item-long">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[0].sections[0].slug, 'post_name': result[0].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[0].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': result[0].sections[0].slug }) }}">{{ result[0].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': result[0].sections[0].slug, 'post_name': result[0].slug}) }}">
                                    <h2>{{ result[0].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                <span class="">{{ result[0].view_count }}</span>
                             </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                    <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                                </svg>
                                </span>
                                 <span class="">{{ result[0].share_twitter_count + result[0].share_facebook_count + result[0].share_vkontakte_count + result[0].share_telegram_count + result[0].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>

        <div class="blog__column">
            {% if result[1].id %}
                <div class="blog__item blog__item-small">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[1].sections[0].slug, 'post_name': result[1].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[1].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': result[1].sections[0].slug, 'post_name': result[1].slug}) }}">
                                {{ result[1].title }}
                            </a>
                        </div>
                        <div class="blog__item-count">
                              <span class="view">
                                    <span class="view-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                                    </span>
                                    <span class="">{{ result[1].view_count }}</span>
                              </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ result[1].share_twitter_count + result[1].share_facebook_count + result[1].share_vkontakte_count + result[1].share_telegram_count + result[1].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if result[2].id %}
                <div class="blog__item blog__item-small">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[2].sections[0].slug, 'post_name': result[2].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[2].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': result[2].sections[0].slug, 'post_name': result[2].slug}) }}">
                                {{ result[2].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                <span class="">{{ result[2].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ result[2].share_twitter_count + result[2].share_facebook_count + result[2].share_vkontakte_count + result[2].share_telegram_count + result[2].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>
     <div class="blog__row">
        <div class="blog__column">
            {% if result[3].id %}
                <div class="blog__item blog__item-long">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[3].sections[0].slug, 'post_name': result[3].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[3].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': result[3].sections[0].slug }) }}">{{ result[3].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': result[3].sections[0].slug, 'post_name': result[3].slug}) }}">
                                    <h2>{{ result[3].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                                <span class="view-svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                                </span>
                                 <span class="">{{ result[3].view_count }}</span>
                             </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ result[3].share_twitter_count + result[3].share_facebook_count + result[3].share_vkontakte_count + result[3].share_telegram_count + result[3].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
        <div class="blog__column">
            {% if result[4].id %}
                <div class="blog__item blog__item-long">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[4].sections[0].slug, 'post_name': result[4].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[4].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': result[4].sections[0].slug }) }}">{{ result[4].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': result[4].sections[0].slug, 'post_name': result[4].slug}) }}">
                                    <h2>{{ result[4].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                           <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ result[4].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                        </svg>
                                </span>
                                <span class="">{{ result[4].share_twitter_count + result[4].share_facebook_count + result[4].share_vkontakte_count + result[4].share_telegram_count + result[4].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="blog__row">
        <div class="blog__column">
            {% if result[5].id %}
                <div class="blog__item blog__item-small">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[5].sections[0].slug, 'post_name': result[5].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[5].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': result[5].sections[0].slug, 'post_name': result[5].slug}) }}">
                                {{ result[5].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                          <span class="view">
                              <span class="view-svg">
                                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                <defs>
                                                    <path id="a" d="M.003.033H25V16H.003z"/>
                                                </defs>
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <mask id="b" fill="#fff">
                                                            <use xlink:href="#a"/>
                                                        </mask>
                                                        <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                    </g>
                                                    <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                </g>
                                            </svg>
                              </span>
                              <span class="">{{ result[5].view_count }}</span>
                          </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                <span class="">{{ result[5].share_twitter_count + result[5].share_facebook_count + result[5].share_vkontakte_count + result[5].share_telegram_count + result[5].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if result[6].id %}
                <div class="blog__item blog__item-small">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[6].sections[0].slug, 'post_name': result[6].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[6].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': result[6].sections[0].slug, 'post_name': result[6].slug}) }}">
                                {{ result[6].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                              <span class="">{{ result[6].view_count }}</span>
                        </span>
                            <span class="facebook-count">
                            <span class="share-svg">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                            <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                        </svg>
                            </span>
                            <span class="">{{ result[6].share_twitter_count + result[6].share_facebook_count + result[6].share_vkontakte_count + result[6].share_telegram_count + result[6].share_pinterest_count}}</span>
                         </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if result[7].id %}
                <div class="blog__item blog__item-small">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[7].sections[0].slug, 'post_name': result[7].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[7].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': result[7].sections[0].slug, 'post_name': result[7].slug}) }}">
                                {{ result[7].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ result[7].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                 <span class="">{{ result[7].share_twitter_count + result[7].share_facebook_count + result[7].share_vkontakte_count + result[7].share_telegram_count + result[7].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if result[8].id %}
                <div class="blog__item blog__item-small">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[8].sections[0].slug, 'post_name': result[8].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[8].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__post-content">
                            <a href="{{ route('blog_post', {'section_name': result[8].sections[0].slug, 'post_name': result[8].slug}) }}">
                                {{ result[8].title }}
                            </a>

                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ result[8].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                 <span class="">{{ result[8].share_twitter_count + result[8].share_facebook_count + result[8].share_vkontakte_count + result[8].share_telegram_count + result[8].share_pinterest_count}}</span>
                             </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
        <div class="blog__column">
            {% if result[9].id %}
                <div class="blog__item blog__item-big">
                    <article class="blog__post">
                        <div class="blog__post-img">
                            <a href="{{ route('blog_post', {'section_name': result[9].sections[0].slug, 'post_name': result[9].slug}) }}" class="blog__item-link"></a>
                            <img src="{{ result[9].imageVerbose('image', 'list') }}" alt="alt">
                        </div>
                        <div class="blog__item-info">
                            <div class="blog__item-btn">
                                <a href="{{ route('blog_section', {'section': result[9].sections[0].slug }) }}">{{ result[9].sections[0].title }}</a>
                            </div>
                            <div class="blog__item-text">
                                <a href="{{ route('blog_post', {'section_name': result[9].sections[0].slug, 'post_name': result[9].slug}) }}">
                                    <h2>{{ result[9].title }}</h2>
                                </a>

                            </div>
                        </div>
                        <div class="blog__item-count">
                             <span class="view">
                               <span class="view-svg">
                                   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="16" viewBox="0 0 25 16">
                                                    <defs>
                                                        <path id="a" d="M.003.033H25V16H.003z"/>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd">
                                                        <g>
                                                            <mask id="b" fill="#fff">
                                                                <use xlink:href="#a"/>
                                                            </mask>
                                                            <path fill="#FFF" d="M1.874 7.983c1.284 1.56 5.62 6.332 10.626 6.332 5.017 0 9.344-4.77 10.626-6.33-1.284-1.562-5.62-6.333-10.626-6.333-5.017 0-9.344 4.77-10.626 6.331zM12.5 15.967C5.703 15.967.382 8.777.159 8.471a.828.828 0 0 1 0-.975C.382 7.19 5.703 0 12.499 0c6.797 0 12.119 7.19 12.342 7.496a.827.827 0 0 1 0 .975c-.223.306-5.545 7.496-12.341 7.496z" mask="url(#b)"/>
                                                        </g>
                                                        <path fill="#FFF" d="M13 4.667A3.337 3.337 0 0 0 9.667 8 3.337 3.337 0 0 0 13 11.333 3.337 3.337 0 0 0 16.333 8 3.337 3.337 0 0 0 13 4.667zM13 13c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
                                                    </g>
                                                </svg>
                               </span>
                                <span class="">{{ result[9].view_count }}</span>
                            </span>
                            <span class="facebook-count">
                                <span class="share-svg">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                <path fill="#FFF" fill-rule="nonzero" d="M13.058 10.169a2.93 2.93 0 0 0-2.297 1.117L5.768 8.754c.065-.242.112-.491.112-.754a2.85 2.85 0 0 0-.134-.818l4.972-2.52a2.93 2.93 0 0 0 2.34 1.168C14.686 5.83 16 4.525 16 2.914 16 1.305 14.685 0 13.059 0c-1.623 0-2.94 1.305-2.94 2.914 0 .264.047.515.113.757L5.24 6.203a2.936 2.936 0 0 0-2.3-1.12C1.314 5.084 0 6.39 0 8c0 1.61 1.315 2.915 2.94 2.915.96 0 1.805-.463 2.343-1.17l4.97 2.52a2.857 2.857 0 0 0-.135.82c0 1.61 1.317 2.915 2.94 2.915 1.625 0 2.94-1.305 2.94-2.915.001-1.612-1.314-2.916-2.94-2.916z"/>
                                            </svg>
                                </span>
                                  <span class="">{{ result[9].share_twitter_count + result[9].share_facebook_count + result[9].share_vkontakte_count + result[9].share_telegram_count + result[9].share_pinterest_count}}</span>
                            </span>
                        </div>
                    </article>
                </div>
            {% endif %}
        </div>
    </div>
</div>

